@import '../../../styles/variables.scss';

.desktopNavbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid $grey;
  background-color: white;
  z-index: 10;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.ar {
    .contentContainer {
      flex-direction: row-reverse;

      & > div {
        flex-direction: row-reverse;
      }

      .languagesSwitcher {
        .selectedLanguage {
          flex-direction: row-reverse;
        }

        .availableLanguagesPopupContainer {
          right: 0;
        }
      }
    }
  }

  .contentContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 1300px;
    width: 100%;
    padding: 0 20px;

    & > div {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .logoContainer {
      padding-top: 7px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      cursor: pointer;
    }

    .languagesSwitcher {
      position: relative;

      .selectedLanguage {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        .translateIconContainer {
          padding-bottom: 10px;

          svg {
            height: fit-content;
            width: 25px;
          }
        }

        p {
          font-weight: 600;
        }
      }

      .availableLanguagesPopupContainer {
        position: absolute;
        z-index: 11;
        top: 40px;
        animation: openAnimation 0.2s ease forwards;

        .availableLanguagesPopup {
          background-color: white;
          border: 1px solid $brown;
          border-radius: 10px;
          width: 100px;
          padding: 0.25rem;

          .option {
            cursor: pointer;
            text-transform: capitalize;
            padding: 0.5rem;
            border-radius: 8px;
            transition: all 0.2s;
            font-weight: 500;
            font-family: 'Poppins', sans-serif;

            &:hover {
              background-color: $grey;
            }

            &.ar {
              font-weight: 600;
              font-family: 'Almarai', sans-serif;
            }
          }
        }
      }
    }

    .searchBarContainer {
      z-index: 3;

      &.openSearchBar {
        position: absolute;
        left: 46.25%;
        animation: searchBarChangeMoveToRight 0.1s ease forwards;
      }
    }
  }

  @media only screen and (max-width: 900px) {
    display: none;
  }
}

.searchBar {
  display: flex;
  align-items: center;
  height: 45px;
  border-radius: 15px;
  font-size: 16px;
  width: 23px;
  background-color: transparent;
  gap: 0.5rem;

  &.isExpanded {
    animation: expandeSeachBar 0.1s ease forwards;
  }

  &.ar {
    input {
      text-align: right;
    }
  }

  input {
    outline: none;
    background-color: transparent;
    width: 100%;
    flex: 1;
  }

  .searchIconContainer {
    outline: none;

    svg {
      height: 16px;
    }
  }

  @media only screen and (max-width: 1200px) {
    &.expanded {
      width: 500px !important;
    }
  }

  @media only screen and (max-width: 900px) {
    &.expanded {
      width: 100% !important;
    }
  }
}

.navbar {
  @apply fixed top-0 w-full m-auto bg-white z-10;
  border-bottom: 1px solid #edf6f2;
  transition: box-shadow 0.2s linear;
  width: 100%;

  .desktopNav {
    @apply flex items-center m-auto py-4 justify-between h-full;
    height: 70px;
    max-width: 1300px;

    @media only screen and (max-width: 900px) {
      @apply hidden;
    }

    .logoLanguageContainer {
      @apply h-full flex items-center gap-6;

      .imgContainer {
        @apply h-full cursor-pointer;

        img {
          @apply py-1 pb-2;
          width: 100px;
        }
      }

      .languageContainer {
        @apply flex items-center gap-1 cursor-pointer relative;

        p {
          @apply text-base font-medium;
        }

        svg {
          @apply relative bottom-1;
        }

        p.ar {
          @apply font-semibold;
          font-family: 'Almarai', sans-serif;
        }

        .options {
          @apply absolute bg-white p-1;
          z-index: 11;
          animation: openAnimation 0.2s ease forwards;
          border-radius: 10px;
          border: 1px solid #707070;
          top: 40px;
          min-width: 100px;

          .option {
            @apply p-2 cursor-pointer capitalize;
            border-radius: 8px;
            transition: all 0.2s;

            &:hover {
              background-color: #edf6f2;
            }
          }
        }
      }
    }

    .searchBar {
      @apply flex items-center justify-end px-6 pr-0;
      background-color: transparent;
      z-index: 3;
      height: 45px;
      border-radius: 17px;
      font-size: 16px;
      width: 0;

      &.openSearchBar {
        position: absolute;
        left: 46.25%;
        animation: searchBarChangeMoveToRight 0.1s ease forwards, expandeSeachBar 0.1s ease forwards;

        @media only screen and (max-width: 1200px) {
          width: 500px !important;
        }
      }

      input {
        @apply w-full;
        background-color: transparent;
        outline: none;
      }

      .searchIcon svg {
        height: 16px;
        @apply text-primary;
      }
    }

    .navLinksContainer {
      @apply flex items-center gap-6;

      ul {
        @apply flex items-center gap-6 relative;
        transition: opacity ease 0.2s;

        &.hideNavLinks {
          opacity: 0;
          z-index: -1;
        }

        li {
          font-size: 15px;
          @apply font-medium;
        }

        .categoriesContainer {
          @apply relative;

          .categories {
            @apply absolute px-8 py-6 flex flex-wrap;
            width: 767px;
            max-height: 450px;
            border-radius: 12px;
            border: 1px solid #707070;
            background-color: white;
            z-index: -1;
            top: 40px;
            left: -310px;
            animation: openAnimation 0.2s ease forwards;

            h3 {
              @apply font-semibold px-4 mb-3;
              width: 100%;
              font-size: 22px;
            }

            .category {
              @apply flex items-center px-4 py-2 gap-4 cursor-pointer;
              font-size: 18px;
              width: 350px;
              border-radius: 8px;
              transition: all 0.2s;

              &:hover {
                background-color: #edf6f2;
              }
              .categoryIcon {
                @apply flex items-center justify-center;
                width: 35px;

                svg {
                  @apply relative;
                  height: 100%;
                  width: auto;
                }
              }
            }
          }
        }
      }
    }

    .notificationsContainer {
      @apply relative;

      .notificationsIcon svg {
        width: 25px;
        height: auto;
        cursor: pointer;
      }

      .notifications {
        @apply absolute bg-white;
        width: 400px;
        min-height: 200px;
        right: -50px;
        top: 50px;
        z-index: 3;
        border: 1px solid #707070;
        border-radius: 12px;
        display: block;
        animation: openAnimation 0.2s ease forwards;

        h3 {
          @apply font-semibold p-4 pb-0;
          font-size: 24px;
        }

        .notification {
          @apply flex p-2 py-3 gap-2 cursor-pointer mx-1 my-1;
          height: 100px;
          border-radius: 8px;
          transition: all 0.2s;

          &:hover {
            background-color: #edf6f2;
          }

          .notificationPic {
            width: 20%;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 9px;
            }
          }

          .notificationText {
            @apply relative;
            width: 80%;
            font-size: 16px;
            line-height: 1.3;

            span {
              @apply font-medium;
            }

            .messageContent {
              font-weight: 400;
              color: rgba(0, 0, 0, 0.7);
            }

            .createdAt {
              @apply absolute left-0;
              bottom: -10px;
              font-size: 14px;
              color: rgba(0, 0, 0, 0.4);
            }
          }
        }

        .noNotifications {
          @apply w-full h-full flex flex-col items-center justify-center capitalize font-medium text-center mt-10;
          font-size: 16px;

          svg {
            height: 30px;
          }
        }

        .seeMore {
          @apply text-center font-semibold my-2;
          font-size: 18px;
          color: #1e31d6;
        }
      }
    }

    .profileImgWithDashboardLinks {
      @apply relative;

      .dashboardLinks {
        @apply absolute bg-white;
        width: 250px;
        left: -50px;
        top: 50px;
        z-index: 3;
        border: 1px solid #707070;
        border-radius: 12px;
        display: block;
        animation: openAnimation 0.2s ease forwards;

        @media only screen and (max-width: 1300px) {
          left: -100px;
        }

        .header {
          .profileImg {
            @apply m-5 mb-2;
            width: 45px;
            height: 45px;
            cursor: default;
          }
          .profileLink {
            @apply font-semibold px-4 py-2 m-1 flex justify-between items-center cursor-pointer capitalize;
            font-size: 22px;
            border-radius: 8px;
            transition: all 0.2s;

            &:hover {
              background-color: #edf6f2;
            }
          }
        }

        hr {
          width: 100%;
          color: rgba(0, 0, 0, 0.3);
        }

        .dashboardLink {
          @apply flex items-center justify-between px-3 py-2 m-1 cursor-pointer;
          transition: all 0.2s;
          border-radius: 6px;

          &:hover {
            background-color: #edf6f2;
          }

          .text {
            @apply flex items-center font-medium gap-2;
            font-size: 16px;

            .iconContainer {
              width: 22px;

              svg {
                width: 100%;
                height: auto;
              }
            }
          }
        }
      }

      .profileImg {
        @apply rounded-full overflow-hidden;
        width: 35px;
        height: 35px;
        border: 1px solid #707070;
        cursor: pointer;

        img,
        svg {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }

    .iconContainer {
      margin-right: 5px;

      svg {
        cursor: pointer;
        height: 25px;
        width: auto;
      }
    }

    .notificationsIconContainer,
    .profileImgContainer {
      @apply relative mr-6;
      z-index: 1;

      .numOfMessages,
      .numOfNotifications {
        @apply absolute text-white font-semibold rounded-full flex items-center justify-center;
        background-color: #f23f3f;
        z-index: 2;
        padding-top: 2px;
        font-size: 14px;
        width: 22px;
        height: 22px;
        top: -8px;
        right: -8px;
        border: 2px solid;
      }
    }

    .btnsContainer {
      @apply flex items-center;
      button {
        font-size: 14px;
        border-radius: 16px;
        width: 130px;
        height: 40px;
      }
    }
  }

  .navMessage {
    @apply absolute w-full flex items-center text-center justify-center py-2;
    background-color: #78a70aaf;
    color: white;
    top: 100%;

    &.hide {
      display: none;
    }

    .iconContainer {
      @apply absolute right-2 py-2 cursor-pointer;

      svg {
        width: 15px;
        fill: white;
      }
    }

    @media only screen and (max-width: 900px) {
      font-size: 12px;
      .iconContainer {
        @apply right-1;

        svg {
          width: 10px;
        }
      }
    }
  }

  .mobileNav {
    @apply z-10 flex items-center justify-between h-full p-2 relative bg-white;
    height: 50px;
    box-shadow: unset !important;

    @media only screen and (min-width: 900px) {
      @apply hidden;
    }

    .menuBars {
      @apply flex flex-col items-center justify-between gap-1;
      width: 23px;
      z-index: 11;

      .bar {
        width: 100%;
        height: 3px;
        border-radius: 5px;
        background-color: black;
      }
    }

    .swipeDiv {
      @apply fixed left-0 top-0;
      // border: 1px solid black;
      height: 100vh;
      width: 3vw;
    }

    .overlay {
      @apply fixed top-0 left-0 w-full h-full z-10;
      animation: overlayOpen 0.4s ease forwards;

      // @supports (backdrop-filter: blur(10px) brightness(0.8)) {
      //   backdrop-filter: blur(10px);
      // }
      // @supports not (backdrop-filter: blur(10px) brightness(0.8)) {
      //   background-color: rgba(0, 0, 0, 0.3);
      // }
    }

    .sideMenu {
      @apply fixed overflow-scroll top-0 bg-white px-2  pb-6;
      left: -100%;
      z-index: 11;
      width: 300px;
      max-width: 100%;
      height: 100vh;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        width: 0;
      }

      &.open {
        border-right: 1px solid #edf6f2;
        transition: left 0.4s ease;
        left: 0% !important;
      }

      .loginButtons {
        @apply flex items-center justify-between gap-3 my-4;

        button {
          width: 50%;
        }

        button.primary {
          background-color: #edf6f2;
          color: black !important;
          opacity: 1;

          &:hover {
            background-color: #d8f1e7;
          }
        }

        button.secondary {
          @apply m-0 font-medium;
          border-color: #edf6f2;
          color: black;
          background-color: transparent;
        }
      }

      .profile {
        @apply font-medium capitalize mt-4;
        font-size: 18px;

        .languageContainer {
          @apply absolute top-4 right-4;

          select {
            @apply p-1;
            background-color: white;
            width: 60px;
            border: 1px solid #edf6f2;
            border-radius: 10px;
            font-size: 12px;
          }
        }

        svg {
          height: 12px;
        }

        .profilePicContainer {
          @apply mx-2 my-1 mt-4;
          width: 60px;
          height: 60px;
          border: 1px solid #707070;
          border-radius: 50%;
          overflow: hidden;

          img {
            @apply h-full w-full;
            object-fit: cover;
            object-position: center;
          }
        }

        .name {
          @apply flex items-center justify-between cursor-pointer py-1 px-2 mt-4;
          border-radius: 5px;
          transition: all 0.3s ease;

          &:hover {
            background-color: #edf6f2;
          }

          h1 {
            @apply font-semibold;
            font-size: 20px;
            padding: 0;
          }
        }
      }

      h1 {
        @apply capitalize font-medium cursor-pointer px-2 py-1;
        font-size: 18px;
      }

      .category {
        @apply flex items-center cursor-pointer py-1 px-2 gap-2;
        border-radius: 5px;
        transition: all 0.3s ease;

        &:hover {
          background-color: #edf6f2;
        }

        .iconContainer {
          @apply flex items-center justify-center;
          width: 25px;

          svg {
            height: auto;
            width: 100%;
            max-height: 25px;
          }
        }
      }

      .divider {
        @apply w-full my-2;
        height: 1px;
        background-color: #edf6f2;
      }

      @media only screen and (max-width: 280px) {
        h1 {
          @apply font-medium;
          font-size: 16px;
        }

        p {
          font-size: 14px;
        }
      }
    }

    .logoContainer,
    .rightIcon {
      @apply h-full flex items-center justify-center;

      img {
        height: auto;
        width: 80px;
      }
    }

    .logoContainer {
      @apply absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    .rightIcon {
      @apply flex items-center justify-center gap-3;

      svg {
        @apply cursor-pointer;
        height: 22px;
        width: auto;

        path,
        g {
          fill: black;
        }
      }

      .profilePic {
        @apply overflow-hidden cursor-pointer;
        border-radius: 50%;
        border: 1px solid #3b3a3a;
        width: 27px;
        height: 27px;

        img {
          @apply w-full h-auto;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }

  .searchBarContainer {
    @apply bg-white flex px-1 items-center justify-center w-full fixed top-0 left-0 w-full;
    z-index: -1;
    transition: all 0.3s ease;
    border-bottom: 1px solid #edf6f2;
    height: 50px;

    @media only screen and (min-width: 900px) {
      @apply hidden;
    }

    &.open {
      z-index: 8;
      top: 50px;
    }

    .searchBar {
      @apply flex w-full items-center justify-between p-2 px-4;
      background-color: #edf6f2;
      border-radius: 12px;

      input {
        @apply w-full;
        background-color: transparent;
        outline: none;
      }

      .iconContainer {
        @apply flex items-center justify-center;

        svg {
          width: 20px;
          height: auto;
        }
      }
    }
  }

  .bottomNav {
    @apply flex items-center justify-around w-full bg-white fixed bottom-0 left-0;
    border-top: 1px solid #edf6f2;
    height: 60px;

    @media only screen and (min-width: 900px) {
      display: none !important;
    }

    .navItem {
      @apply relative flex flex-col items-center justify-center cursor-pointer capitalize h-full;
      font-size: 12px;
      width: 20%;
      white-space: nowrap;

      h1 {
        @apply hidden;
      }

      svg {
        fill: black;
        width: 20px;
        height: auto;
      }

      &.active {
        @apply text-primary;

        h1 {
          display: initial;
        }

        &.showText {
          h1 {
            display: initial !important;
          }
        }

        svg,
        path,
        g {
          fill: #ff7937 !important;
        }
      }

      .num {
        @apply absolute text-white flex items-center justify-center font-medium;
        bottom: 50%;
        left: 50%;
        border: 2px solid white;
        background-color: #f23f3f;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        font-size: 14px;
      }

      @media only screen and (max-width: 300px) {
        &.active h1 {
          display: none;
        }
      }
    }
  }
}

@keyframes openAnimation {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes overlayOpen {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

@keyframes searchBarChangeMoveToRight {
  100% {
    left: 50%;
    transform: translateX(-50%);
  }
}

@keyframes expandeSeachBar {
  to {
    width: 700px;
    padding: 0 1.5rem;
    padding-right: 1rem;
    background-color: #edf6f2;
  }
}
