@import '../../../styles/variables.scss';

.desktopNavbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid $grey;
  background-color: white;
  z-index: 10;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.ar {
    .contentContainer {
      flex-direction: row-reverse;

      & > div {
        flex-direction: row-reverse;
      }

      .languagesSwitcher {
        .selectedLanguage {
          p {
            font-weight: 600;
          }
        }

        .availableLanguagesPopupContainer {
          right: 0;
        }
      }

      .navigationLinksContainer {
        .navigationLink {
          font-weight: 600;
        }
      }

      .categoriesPopupContainer {
        transform: translateX(-40%);
      }

      .notifications {
        .notificationsPopupContainer {
          left: -10rem;
          right: unset;
        }
      }

      .actionButtonsContainer {
        flex-direction: row-reverse;

        button {
          min-width: 160px;
        }
      }
    }
  }

  .contentContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 1300px;
    width: 100%;
    padding: 0 20px;

    & > div {
      display: flex;
      align-items: center;
      gap: 1.5rem;
    }

    .logoContainer {
      padding-top: 7px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      cursor: pointer;
    }

    .languagesSwitcher {
      position: relative;

      .selectedLanguage {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        .translateIconContainer {
          padding-bottom: 10px;

          svg {
            height: fit-content;
            width: 25px;
          }
        }

        p {
          font-weight: 500;
        }
      }

      .availableLanguagesPopupContainer {
        position: absolute;
        z-index: 11;
        top: 40px;
        animation: openPopupAnimation 0.2s ease forwards;

        .availableLanguagesPopup {
          background-color: white;
          border: 1px solid $brown;
          border-radius: 10px;
          width: 100px;
          padding: 0.25rem;

          .option {
            cursor: pointer;
            text-transform: capitalize;
            padding: 0.5rem;
            border-radius: 8px;
            transition: all 0.2s;
            font-weight: 500;
            font-family: 'Poppins', sans-serif;

            &:hover {
              background-color: $grey;
            }

            &.ar {
              font-weight: 600;
              font-family: 'Almarai', sans-serif;
            }
          }
        }
      }
    }

    .searchBarContainer {
      z-index: 3;

      &.isOpened {
        position: absolute;
        left: 46.25%;
        animation: searchBarChangeMoveToRight 0.1s ease forwards;
      }
    }

    .navigationLinksContainer {
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      .navigationLink {
        font-weight: 500;
        text-transform: capitalize;
        font-size: 15px;
        cursor: pointer;
      }
    }

    .categoriesPopupContainer {
      position: absolute;
      z-index: 11;
      top: 60px;
      left: 0;
      animation: openCategoriesPopupAnimation 0.2s ease forwards;
      transform: translateX(-50%);

      .categoriesPopup {
        background-color: white;
        border: 1px solid $brown;
        padding: 1rem 1.5rem;
        display: flex;
        flex-wrap: wrap;
        width: 767px;
        max-height: 450px;
        border-radius: 12px;

        &.oneColumn {
          width: auto;
        }

        h3 {
          font-weight: 600;
          padding: 0 1rem;
          margin-bottom: 0.75rem;
          width: 100%;
          font-size: 22px;
          text-transform: capitalize;
        }

        .category {
          display: flex;
          align-items: center;
          padding: 0.5rem 1rem;
          gap: 1rem;
          cursor: pointer;
          font-size: 18px;
          width: 350px;
          border-radius: 8px;
          transition: all 0.2s;
          text-transform: capitalize;

          &:hover {
            background-color: $grey;
          }

          .categoryIcon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35px;

            svg {
              height: 100%;
              width: auto;
            }
          }
        }

        &.ar {
          flex-direction: row-reverse;

          h3 {
            text-align: right;
          }

          .category {
            flex-direction: row-reverse;
          }
        }
      }
    }

    .notifications {
      position: relative;

      .notificationIconContainer {
        cursor: pointer;

        svg {
          width: 25px;
          height: fit-content;
        }
      }

      .notificationsPopupContainer {
        position: absolute;
        right: -10rem;
        top: 3rem;
        z-index: 3;
        animation: openPopupAnimation 0.2s ease forwards;

        .notificationsPopup {
          background-color: white;
          border: 1px solid $brown;
          width: 400px;
          min-height: 200px;
          border-radius: 12px;

          &.ar {
            text-align: right;

            .notification {
              flex-direction: row-reverse;
            }
          }

          h3 {
            font-weight: 600;
            padding: 1rem;
            text-transform: capitalize;
            padding-bottom: 0;
            font-size: 24px;
          }

          .notification {
            display: flex;
            padding: 0.75rem 0.5rem;
            gap: 0.5rem;
            cursor: pointer;
            margin: 0.25rem;
            height: 100px;
            border-radius: 8px;
            transition: all 0.2s;

            &:hover {
              background-color: $grey;
            }

            .notificationPic {
              width: 20%;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 9px;
              }
            }

            .notificationText {
              position: relative;
              width: 80%;
              font-size: 16px;
              line-height: 1.3;

              span {
                font-size: 400;
              }

              .messageContent {
                font-weight: 400;
                color: rgba(0, 0, 0, 0.7);
              }

              .createdAt {
                position: absolute;
                left: 0;
                bottom: -10px;
                font-size: 14px;
                color: rgba(0, 0, 0, 0.4);
              }
            }
          }

          .noNotifications {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-transform: capitalize;
            font-weight: 500;
            text-align: center;
            margin-top: 2rem;
            font-size: 16px;

            svg {
              height: 30px;
            }
          }

          .seeMore {
            text-align: center;
            font-weight: 600;
            margin-bottom: 0.5rem;
            font-size: 18px;
            color: $blue-deep;
          }
        }
      }
    }

    .profile {
      position: relative;

      .profileAvatar {
        cursor: pointer;
      }

      .dashboardLinksPopupContainer {
        position: absolute;
        left: -5rem;
        top: 3rem;
        z-index: 3;
        animation: openPopupAnimation 0.2s ease forwards;

        .dashboardLinksPopup {
          background-color: white;
          border: 1px solid $brown;
          width: 250px;
          border-radius: 12px;

          .header {
            .profileImage {
              margin: 1.25rem;
              margin-bottom: 0.5rem;
            }

            .profileLink {
              font-weight: 600;
              padding: 0.5rem 1rem;
              margin: 0.25rem;
              display: flex;
              align-items: center;
              justify-content: space-between;
              cursor: pointer;
              text-transform: capitalize;
              font-size: 22px;
              border-radius: 8px;
              transition: all 0.2s;

              &:hover {
                background-color: $grey;
              }
            }
          }

          .separator {
            width: 100%;
            height: 0.5px;
            background-color: rgba(0, 0, 0, 0.3);
          }

          .dashboardLink {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 1rem;
            padding: 0.5rem 0.75rem;
            cursor: pointer;
            margin: 0.25rem;
            transition: all 0.2s;
            border-radius: 6px;

            &:hover {
              background-color: $grey;
            }

            .title {
              display: flex;
              text-transform: capitalize;
              align-items: center;
              font-weight: 500;
              font-size: 16px;
            }

            .iconContainer svg {
              width: 22px;
              height: auto;
            }
          }

          &.ar {
            text-align: right;

            .header {
              display: flex;
              flex-direction: column;
              align-items: flex-end;

              .profileLink {
                width: 100%;
                flex-direction: row-reverse;

                svg {
                  transform: rotate(180deg);
                }
              }
            }

            .dashboardLink {
              flex-direction: row-reverse;

              .title {
                font-weight: 600;
              }
            }
          }
        }
      }
    }

    .actionButtonsContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      button {
        text-transform: capitalize;
        min-width: 130px;
        font-size: 14px;
      }
    }
  }

  @media only screen and (max-width: 900px) {
    display: none;
  }
}

.mobileNavigation {
  &.ar {
    .navbar {
      flex-direction: row-reverse;

      .sideMenu {
        .sideMenuPanelContainer {
          .panelContainer {
            right: 0;
            left: unset;
            transform: translateX(100%);
          }
        }
      }

      .settingsAndProfileLinks {
        flex-direction: row-reverse;
      }
    }

    .bottomNavigation {
      flex-direction: row-reverse;
    }
  }

  .navbar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid $grey;
    height: 50px;
    width: 100%;
    z-index: 10;
    padding: 0 0.5rem;

    .sideMenu {
      .menuBars {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 0.2rem;

        & > span {
          width: 25px;
          height: 3px;
          border-radius: 5px;
          background-color: black;
        }
      }

      .sideMenuPanelContainer {
        &.isOpened {
          .overlay {
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.3);
          }

          .panelContainer {
            transform: translateX(0);
          }
        }

        .overlay {
          position: fixed;
          top: 0;
          left: 0;
          width: 0;
          height: 0;
          background: transparent;
          transition: background 0.4s ease;
        }

        .panelContainer {
          position: fixed;
          z-index: 11;
          top: 0;
          left: 0;
          width: 100%;
          max-width: 300px;
          transform: translateX(-100%);
          transition: transform 0.4s ease;
        }
      }

      .sideMenuPanel {
        width: 100%;
        max-width: 300px;
        height: 100vh;
        overflow: scroll;
        scrollbar-width: none;
        padding: 1.5rem 0.5rem;
        background-color: white;
        border-right: 1px solid $grey;

        &::-webkit-scrollbar {
          width: 0;
        }

        &.ar {
          border-left: 1px solid $grey;
          border-right: none;

          .languagesSwitcher {
            justify-content: flex-start;
          }

          .profile {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .name {
              flex-direction: row-reverse;

              svg {
                transform: rotate(180deg);
              }
            }
          }

          h3 {
            text-align: right;
            font-weight: 600;
          }

          .categoryLink {
            flex-direction: row-reverse;
          }
        }

        .languagesSwitcher {
          display: flex;
          justify-content: flex-end;

          select {
            background-color: white;
            border: 1px solid $grey;
            border-radius: 10px;
            font-size: 14px;
            padding: 0.25rem;
            width: 60px;
            height: 33px;
            outline: none;
          }
        }

        .separator {
          margin: 0.5rem 0;
          width: 100%;
          height: 0.5px;
          background-color: #edf6f2;
        }

        .loginButtons {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 0.5rem;
          margin: 2rem 0;

          button {
            width: 50%;
            padding-left: 0;
            padding-right: 0;
          }
        }

        .profile {
          .picture {
            padding: 0 0.5rem;
            width: fit-content;
            margin-bottom: 1rem;
          }

          .name {
            display: flex;
            padding: 0.25rem 0.5rem;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            border-radius: 5px;
            transition: all 0.3s ease;
            width: 100%;

            &:hover {
              background-color: $grey;
            }

            h3 {
              font-weight: 600;
              font-size: 20px;
              padding: 0;
            }

            svg {
              height: 12px;
            }
          }
        }

        h3 {
          padding: 0.25rem 0.5rem;
          text-transform: capitalize;
          font-weight: 500;
          font-size: 18px;
        }

        .categoryLink {
          display: flex;
          align-items: center;
          cursor: pointer;
          padding: 0.25rem 0.5rem;
          gap: 0.5rem;
          border-radius: 5px;
          transition: all 0.3s ease;
          text-transform: capitalize;

          &:hover {
            background-color: $grey;
          }

          .iconContainer {
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
              width: 25px;
              height: auto;
              max-height: 25px;
            }
          }
        }

        @media only screen and (max-width: 280px) {
          h3 {
            font-size: 16px;
          }

          p {
            font-size: 14px;
          }

          button {
            font-size: 12px;
          }
        }
      }
    }

    .logoContainer {
      width: 85px;
      padding-top: 6px;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    .search {
      .searchIconContainer svg {
        width: 20px;
        cursor: pointer;
      }

      .mobileSearchContainer {
        background-color: white;
        border-bottom: 1px solid $grey;
        position: absolute;
        top: 50px;
        left: 0;
        padding: 0.35rem;
        height: 50px;
        width: 100%;
        animation: opacityAnimation 0.3s ease forwards;
      }
    }

    .settingsAndProfileLinks {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      & > div {
        cursor: pointer;
      }

      .settingsIconContainer svg {
        width: 22px;

        path,
        g {
          fill: black;
        }
      }
    }
  }

  .bottomNavigation {
    z-index: 8;
    background-color: white;
    border-top: 1px solid $grey;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;

    .navItem {
      display: flex;
      flex: 1;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      cursor: pointer;

      .iconContainer {
        svg {
          fill: black;
          width: 20px;
          height: auto;
        }
      }

      h1 {
        text-transform: capitalize;
        color: $primary-color;
        display: none;
      }

      &.active {
        .iconContainer {
          svg,
          path,
          g {
            fill: $primary-color !important;
          }
        }

        h1 {
          display: block;
        }
      }
    }

    @media only screen and (max-width: 300px) {
      .navItem.active h1 {
        display: none;
      }
    }
  }

  @media only screen and (min-width: 900px) {
    display: none;
  }
}

.navbar {
  .bottomNav {
    .navItem {
      .num {
        @apply absolute text-white flex items-center justify-center font-medium;
        bottom: 50%;
        left: 50%;
        border: 2px solid white;
        background-color: #f23f3f;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        font-size: 14px;
      }
    }
  }

  .navMessage {
    @apply absolute w-full flex items-center text-center justify-center py-2;
    background-color: #78a70aaf;
    color: white;
    top: 100%;

    &.hide {
      display: none;
    }

    .iconContainer {
      @apply absolute right-2 py-2 cursor-pointer;

      svg {
        width: 15px;
        fill: white;
      }
    }

    @media only screen and (max-width: 900px) {
      font-size: 12px;

      .iconContainer {
        @apply right-1;

        svg {
          width: 10px;
        }
      }
    }
  }
}

.searchBar {
  display: flex;
  align-items: center;
  height: 45px;
  border-radius: 15px;
  font-size: 16px;
  width: 23px;
  background-color: transparent;
  gap: 0.5rem;

  &.ar {
    input {
      text-align: right;
    }
  }

  &.isExpanded {
    animation: expandeSeachBar 0.1s ease forwards;
  }

  input {
    outline: none;
    background-color: transparent;
    width: 100%;
    flex: 1;
  }

  .searchIconContainer {
    outline: none;

    svg {
      height: 16px;
    }
  }

  @media only screen and (max-width: 1250px) {
    &.isExpanded {
      width: 450px !important;
    }
  }

  @media only screen and (max-width: 900px) {
    height: 100%;
    font-size: 14px;

    &.isExpanded {
      width: 100% !important;
      padding: 0 1rem !important;
      padding-right: 0.75rem !important;
      border-radius: 12px;
    }
  }
}

.progressLoaderContainer {
  position: fixed;
  z-index: 9;
  top: 70px;
  width: 100%;

  .progressLoader {
    background-color: $primary-color;
    height: 2px;
    width: 0%;

    &.isLoading {
      animation: loadingStart 0.4s ease forwards, loadingLatency 5s ease 1s forwards;
    }

    &.isComplete {
      animation: loadingComplete 0.2s ease forwards, notLoading 0s ease 0.4s forwards;
    }
  }

  @media only screen and (max-width: 900px) {
    top: 50px;

    .progressLoader {
      height: 1px;
    }
  }
}

@keyframes loadingStart {
  0% {
    width: 0%;
  }

  20% {
    width: 10%;
  }

  100% {
    width: 70%;
  }
}

@keyframes loadingLatency {
  0% {
    width: 70%;
  }
  100% {
    width: 90%;
  }
}

@keyframes loadingComplete {
  0% {
    width: 70%;
  }

  100% {
    width: 100%;
  }
}

@keyframes notLoading {
  100% {
    width: 0%;
  }
}

@keyframes openCategoriesPopupAnimation {
  0% {
    opacity: 0;
    top: 100px;
  }

  100% {
    opacity: 1;
    top: 60px;
  }
}

@keyframes openPopupAnimation {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes searchBarChangeMoveToRight {
  100% {
    left: 50%;
    transform: translateX(-50%);
  }
}

@keyframes expandeSeachBar {
  to {
    width: 560px;
    padding: 0 1.5rem;
    padding-right: 1rem;
    background-color: $grey;
  }
}

@keyframes opacityAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
