@import '../../../styles/variables.scss';

.desktopNavbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid $grey;
  background-color: white;
  z-index: 10;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.ar {
    .contentContainer {
      flex-direction: row-reverse;

      & > div {
        flex-direction: row-reverse;
      }

      .languagesSwitcher {
        .selectedLanguage {
          p {
            font-weight: 600;
          }
        }

        .availableLanguagesPopupContainer {
          right: 0;
        }
      }

      .navigationLinksContainer {
        .navigationLink {
          font-weight: 600;
        }
      }

      .categoriesPopupContainer {
        transform: translateX(-40%);
      }

      .notifications {
        .notificationsPopupContainer {
          left: -10rem;
          right: unset;
        }
      }

      .actionButtonsContainer {
        flex-direction: row-reverse;

        button {
          min-width: 160px;
        }
      }
    }
  }

  .contentContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 1300px;
    width: 100%;
    padding: 0 20px;

    & > div {
      display: flex;
      align-items: center;
      gap: 1.5rem;
    }

    .logoContainer {
      padding-top: 7px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      cursor: pointer;
    }

    .languagesSwitcher {
      position: relative;

      .selectedLanguage {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        .translateIconContainer {
          padding-bottom: 10px;

          svg {
            height: fit-content;
            width: 25px;
          }
        }

        p {
          font-weight: 500;
        }
      }

      .availableLanguagesPopupContainer {
        position: absolute;
        z-index: 11;
        top: 40px;
        animation: openPopupAnimation 0.2s ease forwards;

        .availableLanguagesPopup {
          background-color: white;
          border: 1px solid $brown;
          border-radius: 10px;
          width: 100px;
          padding: 0.25rem;

          .option {
            cursor: pointer;
            text-transform: capitalize;
            padding: 0.5rem;
            border-radius: 8px;
            transition: all 0.2s;
            font-weight: 500;
            font-family: 'Poppins', sans-serif;

            &:hover {
              background-color: $grey;
            }

            &.ar {
              font-weight: 600;
              font-family: 'Almarai', sans-serif;
            }
          }
        }
      }
    }

    .searchBarContainer {
      z-index: 3;

      &.isOpened {
        position: absolute;
        left: 46.25%;
        animation: searchBarChangeMoveToRight 0.1s ease forwards;
      }
    }

    .navigationLinksContainer {
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      .navigationLink {
        font-weight: 500;
        text-transform: capitalize;
        font-size: 15px;
        cursor: pointer;
      }
    }

    .categoriesPopupContainer {
      position: absolute;
      z-index: 11;
      top: 60px;
      left: 0;
      animation: openCategoriesPopupAnimation 0.2s ease forwards;
      transform: translateX(-50%);

      .categoriesPopup {
        background-color: white;
        border: 1px solid $brown;
        padding: 1rem 1.5rem;
        display: flex;
        flex-wrap: wrap;
        width: 767px;
        max-height: 450px;
        border-radius: 12px;

        &.oneColumn {
          width: auto;
        }

        h3 {
          font-weight: 600;
          padding: 0 1rem;
          margin-bottom: 0.75rem;
          width: 100%;
          font-size: 22px;
          text-transform: capitalize;
        }

        .category {
          display: flex;
          align-items: center;
          padding: 0.5rem 1rem;
          gap: 1rem;
          cursor: pointer;
          font-size: 18px;
          width: 350px;
          border-radius: 8px;
          transition: all 0.2s;
          text-transform: capitalize;

          &:hover {
            background-color: $grey;
          }

          .categoryIcon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35px;

            svg {
              height: 100%;
              width: auto;
            }
          }
        }

        &.ar {
          flex-direction: row-reverse;

          h3 {
            text-align: right;
          }

          .category {
            flex-direction: row-reverse;
          }
        }
      }
    }

    .notifications {
      position: relative;

      .notificationIconContainer {
        cursor: pointer;

        svg {
          width: 25px;
          height: fit-content;
        }
      }

      .notificationsPopupContainer {
        position: absolute;
        right: -10rem;
        top: 3rem;
        z-index: 3;
        animation: openPopupAnimation 0.2s ease forwards;

        .notificationsPopup {
          background-color: white;
          border: 1px solid $brown;
          width: 400px;
          min-height: 200px;
          border-radius: 12px;

          &.ar {
            text-align: right;

            .notification {
              flex-direction: row-reverse;
            }
          }

          h3 {
            font-weight: 600;
            padding: 1rem;
            text-transform: capitalize;
            padding-bottom: 0;
            font-size: 24px;
          }

          .notification {
            display: flex;
            padding: 0.75rem 0.5rem;
            gap: 0.5rem;
            cursor: pointer;
            margin: 0.25rem;
            height: 100px;
            border-radius: 8px;
            transition: all 0.2s;

            &:hover {
              background-color: $grey;
            }

            .notificationPic {
              width: 20%;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 9px;
              }
            }

            .notificationText {
              position: relative;
              width: 80%;
              font-size: 16px;
              line-height: 1.3;

              span {
                font-size: 400;
              }

              .messageContent {
                font-weight: 400;
                color: rgba(0, 0, 0, 0.7);
              }

              .createdAt {
                position: absolute;
                left: 0;
                bottom: -10px;
                font-size: 14px;
                color: rgba(0, 0, 0, 0.4);
              }
            }
          }

          .noNotifications {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-transform: capitalize;
            font-weight: 500;
            text-align: center;
            margin-top: 2rem;
            font-size: 16px;

            svg {
              height: 30px;
            }
          }

          .seeMore {
            text-align: center;
            font-weight: 600;
            margin-bottom: 0.5rem;
            font-size: 18px;
            color: $blue-deep;
          }
        }
      }
    }

    .profile {
      position: relative;

      .profileAvatar {
        cursor: pointer;
      }

      .dashboardLinksPopupContainer {
        position: absolute;
        left: -5rem;
        top: 3rem;
        z-index: 3;
        animation: openPopupAnimation 0.2s ease forwards;

        .dashboardLinksPopup {
          background-color: white;
          border: 1px solid $brown;
          width: 250px;
          border-radius: 12px;

          .header {
            .profileImage {
              margin: 1.25rem;
              margin-bottom: 0.5rem;
            }

            .profileLink {
              font-weight: 600;
              padding: 0.5rem 1rem;
              margin: 0.25rem;
              display: flex;
              align-items: center;
              justify-content: space-between;
              cursor: pointer;
              text-transform: capitalize;
              font-size: 22px;
              border-radius: 8px;
              transition: all 0.2s;

              &:hover {
                background-color: $grey;
              }
            }
          }

          .separator {
            width: 100%;
            height: 0.5px;
            background-color: rgba(0, 0, 0, 0.3);
          }

          .dashboardLink {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 1rem;
            padding: 0.5rem 0.75rem;
            cursor: pointer;
            margin: 0.25rem;
            transition: all 0.2s;
            border-radius: 6px;

            &:hover {
              background-color: $grey;
            }

            .title {
              display: flex;
              text-transform: capitalize;
              align-items: center;
              font-weight: 500;
              font-size: 16px;
            }

            .iconContainer svg {
              width: 22px;
              height: auto;
            }
          }

          &.ar {
            text-align: right;

            .header {
              display: flex;
              flex-direction: column;
              align-items: flex-end;

              .profileLink {
                width: 100%;
                flex-direction: row-reverse;

                svg {
                  transform: rotate(180deg);
                }
              }
            }

            .dashboardLink {
              flex-direction: row-reverse;

              .title {
                font-weight: 600;
              }
            }
          }
        }
      }
    }

    .actionButtonsContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      button {
        text-transform: capitalize;
        min-width: 130px;
        font-size: 14px;
      }
    }
  }

  @media only screen and (max-width: 900px) {
    display: none;
  }
}

.mobileNavigation {
  &.ar {
    .navbar {
      flex-direction: row-reverse;

      .sideMenu {
        .sideMenuPanelContainer {
          .panelContainer {
            right: 0;
            left: unset;
            transform: translateX(100%);
          }
        }
      }
    }
  }

  .navbar {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-bottom: 1px solid $grey;
    height: 50px;
    width: 100%;
    z-index: 10;
    padding: 0 0.5rem;

    .sideMenu {
      .menuBars {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 0.2rem;

        & > span {
          width: 25px;
          height: 3px;
          border-radius: 5px;
          background-color: black;
        }
      }

      .sideMenuPanelContainer {
        &.isOpened {
          .overlay {
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.3);
          }

          .panelContainer {
            transform: translateX(0);
          }
        }

        .overlay {
          position: fixed;
          top: 0;
          left: 0;
          width: 0;
          height: 0;
          background: transparent;
          transition: background 0.4s ease;
        }

        .panelContainer {
          position: fixed;
          z-index: 11;
          top: 0;
          left: 0;
          width: 100%;
          max-width: 300px;
          transform: translateX(-100%);
          transition: transform 0.4s ease;
        }
      }

      .sideMenuPanel {
        width: 100%;
        max-width: 300px;
        height: 100vh;
        overflow: scroll;
        scrollbar-width: none;
        padding: 1.5rem 0.5rem;
        background-color: white;
        border-right: 1px solid $grey;

        &::-webkit-scrollbar {
          width: 0;
        }

        &.ar {
          border-left: 1px solid $grey;
          border-right: none;

          .languagesSwitcher {
            justify-content: flex-start;
          }

          .profile {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            .name {
              flex-direction: row-reverse;

              svg {
                transform: rotate(180deg);
              }
            }
          }

          h3 {
            text-align: right;
            font-weight: 600;
          }

          .categoryLink {
            flex-direction: row-reverse;
          }
        }

        .languagesSwitcher {
          display: flex;
          justify-content: flex-end;

          select {
            background-color: white;
            border: 1px solid $grey;
            border-radius: 10px;
            font-size: 14px;
            padding: 0.25rem;
            width: 60px;
            height: 33px;
            outline: none;
          }
        }

        .separator {
          margin: 0.5rem 0;
          width: 100%;
          height: 0.5px;
          background-color: #edf6f2;
        }

        .loginButtons {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 0.5rem;
          margin: 2rem 0;

          button {
            width: 50%;
            padding-left: 0;
            padding-right: 0;
          }
        }

        .profile {
          .picture {
            padding: 0 0.5rem;
            width: fit-content;
            margin-bottom: 1rem;
          }

          .name {
            display: flex;
            padding: 0.25rem 0.5rem;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            border-radius: 5px;
            transition: all 0.3s ease;
            width: 100%;

            &:hover {
              background-color: $grey;
            }

            h3 {
              font-weight: 600;
              font-size: 20px;
              padding: 0;
            }

            svg {
              height: 12px;
            }
          }
        }

        h3 {
          padding: 0.25rem 0.5rem;
          text-transform: capitalize;
          font-weight: 500;
          font-size: 18px;
        }

        .categoryLink {
          display: flex;
          align-items: center;
          cursor: pointer;
          padding: 0.25rem 0.5rem;
          gap: 0.5rem;
          border-radius: 5px;
          transition: all 0.3s ease;
          text-transform: capitalize;

          &:hover {
            background-color: $grey;
          }

          .iconContainer {
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
              width: 25px;
              height: auto;
              max-height: 25px;
            }
          }
        }

        @media only screen and (max-width: 280px) {
          h3 {
            font-size: 16px;
          }

          p {
            font-size: 14px;
          }

          button {
            font-size: 12px;
          }
        }
      }
    }

    .logoContainer {
      width: 85px;
      padding-top: 6px;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    .search {
      .searchIconContainer svg {
        width: 20px;
        cursor: pointer;
      }

      .mobileSearchContainer {
        background-color: white;
        border-bottom: 1px solid $grey;
        position: absolute;
        top: 50px;
        left: 0;
        padding: 0.35rem;
        height: 50px;
        width: 100%;
        animation: opacityAnimation 0.3s ease forwards;
      }
    }
  }

  .bottomNavigation {
  }

  @media only screen and (min-width: 900px) {
    display: none;
  }
}

.navbar {
  .mobileNav {
    @apply z-10 flex items-center justify-between h-full p-2 relative bg-white;
    height: 50px;
    box-shadow: unset !important;

    @media only screen and (min-width: 900px) {
      @apply hidden;
    }

    .menuBars {
      @apply flex flex-col items-center justify-between gap-1;
      width: 23px;
      z-index: 11;

      .bar {
        width: 100%;
        height: 3px;
        border-radius: 5px;
        background-color: black;
      }
    }

    .swipeDiv {
      @apply fixed left-0 top-0;
      // border: 1px solid black;
      height: 100vh;
      width: 3vw;
    }

    .overlay {
      @apply fixed top-0 left-0 w-full h-full z-10;
      animation: overlayOpen 0.4s ease forwards;

      // @supports (backdrop-filter: blur(10px) brightness(0.8)) {
      //   backdrop-filter: blur(10px);
      // }
      // @supports not (backdrop-filter: blur(10px) brightness(0.8)) {
      //   background-color: rgba(0, 0, 0, 0.3);
      // }
    }

    .sideMenu {
      @apply fixed overflow-scroll top-0 bg-white px-2  pb-6;
      left: -100%;
      z-index: 11;
      width: 300px;
      max-width: 100%;
      height: 100vh;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        width: 0;
      }

      &.open {
        border-right: 1px solid #edf6f2;
        transition: left 0.4s ease;
        left: 0% !important;
      }

      .loginButtons {
        @apply flex items-center justify-between gap-3 my-4;

        button {
          width: 50%;
        }

        button.primary {
          background-color: #edf6f2;
          color: black !important;
          opacity: 1;

          &:hover {
            background-color: #d8f1e7;
          }
        }

        button.secondary {
          @apply m-0 font-medium;
          border-color: #edf6f2;
          color: black;
          background-color: transparent;
        }
      }

      .profile {
        @apply font-medium capitalize mt-4;
        font-size: 18px;

        .languageContainer {
          @apply absolute top-4 right-4;

          select {
            @apply p-1;
            background-color: white;
            width: 60px;
            border: 1px solid #edf6f2;
            border-radius: 10px;
            font-size: 12px;
          }
        }

        svg {
          height: 12px;
        }

        .profilePicContainer {
          @apply mx-2 my-1 mt-4;
          width: 60px;
          height: 60px;
          border: 1px solid #707070;
          border-radius: 50%;
          overflow: hidden;

          img {
            @apply h-full w-full;
            object-fit: cover;
            object-position: center;
          }
        }

        .name {
          @apply flex items-center justify-between cursor-pointer py-1 px-2 mt-4;
          border-radius: 5px;
          transition: all 0.3s ease;

          &:hover {
            background-color: #edf6f2;
          }

          h1 {
            @apply font-semibold;
            font-size: 20px;
            padding: 0;
          }
        }
      }

      h1 {
        @apply capitalize font-medium cursor-pointer px-2 py-1;
        font-size: 18px;
      }

      .category {
        @apply flex items-center cursor-pointer py-1 px-2 gap-2;
        border-radius: 5px;
        transition: all 0.3s ease;

        &:hover {
          background-color: #edf6f2;
        }

        .iconContainer {
          @apply flex items-center justify-center;
          width: 25px;

          svg {
            height: auto;
            width: 100%;
            max-height: 25px;
          }
        }
      }

      .divider {
        @apply w-full my-2;
        height: 1px;
        background-color: #edf6f2;
      }

      @media only screen and (max-width: 280px) {
        h1 {
          @apply font-medium;
          font-size: 16px;
        }

        p {
          font-size: 14px;
        }
      }
    }

    .logoContainer,
    .rightIcon {
      @apply h-full flex items-center justify-center;

      img {
        height: auto;
        width: 80px;
      }
    }

    .logoContainer {
      @apply absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    .rightIcon {
      @apply flex items-center justify-center gap-3;

      svg {
        @apply cursor-pointer;
        height: 22px;
        width: auto;

        path,
        g {
          fill: black;
        }
      }

      .profilePic {
        @apply overflow-hidden cursor-pointer;
        border-radius: 50%;
        border: 1px solid #3b3a3a;
        width: 27px;
        height: 27px;

        img {
          @apply w-full h-auto;
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }

  .searchBarContainer {
    @apply bg-white flex px-1 items-center justify-center w-full fixed top-0 left-0 w-full;
    z-index: -1;
    transition: all 0.3s ease;
    border-bottom: 1px solid #edf6f2;
    height: 50px;

    @media only screen and (min-width: 900px) {
      @apply hidden;
    }

    &.open {
      z-index: 8;
      top: 50px;
    }

    .searchBar {
      @apply flex w-full items-center justify-between p-2 px-4;
      background-color: #edf6f2;
      border-radius: 12px;

      input {
        @apply w-full;
        background-color: transparent;
        outline: none;
      }

      .iconContainer {
        @apply flex items-center justify-center;

        svg {
          width: 20px;
          height: auto;
        }
      }
    }
  }

  .bottomNav {
    @apply flex items-center justify-around w-full bg-white fixed bottom-0 left-0;
    border-top: 1px solid #edf6f2;
    height: 60px;

    @media only screen and (min-width: 900px) {
      display: none !important;
    }

    .navItem {
      @apply relative flex flex-col items-center justify-center cursor-pointer capitalize h-full;
      font-size: 12px;
      width: 20%;
      white-space: nowrap;

      h1 {
        @apply hidden;
      }

      svg {
        fill: black;
        width: 20px;
        height: auto;
      }

      &.active {
        @apply text-primary;

        h1 {
          display: initial;
        }

        &.showText {
          h1 {
            display: initial !important;
          }
        }

        svg,
        path,
        g {
          fill: #ff7937 !important;
        }
      }

      .num {
        @apply absolute text-white flex items-center justify-center font-medium;
        bottom: 50%;
        left: 50%;
        border: 2px solid white;
        background-color: #f23f3f;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        font-size: 14px;
      }

      @media only screen and (max-width: 300px) {
        &.active h1 {
          display: none;
        }
      }
    }
  }

  .navMessage {
    @apply absolute w-full flex items-center text-center justify-center py-2;
    background-color: #78a70aaf;
    color: white;
    top: 100%;

    &.hide {
      display: none;
    }

    .iconContainer {
      @apply absolute right-2 py-2 cursor-pointer;

      svg {
        width: 15px;
        fill: white;
      }
    }

    @media only screen and (max-width: 900px) {
      font-size: 12px;

      .iconContainer {
        @apply right-1;

        svg {
          width: 10px;
        }
      }
    }
  }
}

.searchBar {
  display: flex;
  align-items: center;
  height: 45px;
  border-radius: 15px;
  font-size: 16px;
  width: 23px;
  background-color: transparent;
  gap: 0.5rem;

  &.ar {
    input {
      text-align: right;
    }
  }

  &.isExpanded {
    animation: expandeSeachBar 0.1s ease forwards;
  }

  input {
    outline: none;
    background-color: transparent;
    width: 100%;
    flex: 1;
  }

  .searchIconContainer {
    outline: none;

    svg {
      height: 16px;
    }
  }

  @media only screen and (max-width: 1250px) {
    &.isExpanded {
      width: 450px !important;
    }
  }

  @media only screen and (max-width: 900px) {
    height: 100%;
    font-size: 14px;

    &.isExpanded {
      width: 100% !important;
      padding: 0 1rem !important;
      padding-right: 0.75rem !important;
      border-radius: 12px;
    }
  }
}

@keyframes openCategoriesPopupAnimation {
  0% {
    opacity: 0;
    top: 100px;
  }

  100% {
    opacity: 1;
    top: 60px;
  }
}

@keyframes openPopupAnimation {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes overlayOpen {
  0% {
    background-color: transparent;
  }

  100% {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

@keyframes searchBarChangeMoveToRight {
  100% {
    left: 50%;
    transform: translateX(-50%);
  }
}

@keyframes expandeSeachBar {
  to {
    width: 560px;
    padding: 0 1.5rem;
    padding-right: 1rem;
    background-color: $grey;
  }
}

@keyframes opacityAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
