@import '../../../styles/variables.scss';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  svg {
    width: 18px;
  }

  &.primary {
    background-color: $primary-color;
    border: 1px solid $primary-color;
    color: white;

    &:hover {
      background-color: $primary-color-hover;
    }

    &.disabled {
      &:hover {
        background-color: $primary-color;
      }
    }

    svg {
      fill: white;
    }
  }

  &.secondary {
    background-color: white;
    color: $primary-color;
    border: 1px solid $primary-color;

    &:hover {
      color: $primary-color-hover;
      border-color: $primary-color-hover;
    }

    &.disabled {
      color: $primary-color;
      border-color: $primary-color;
    }

    svg {
      fill: #ff7937;
    }
  }

  &.greyFilled {
    border: 2px solid $grey;
    background-color: $grey;

    &:hover {
      border-color: $grey-deep;
      background-color: $grey-deep;
    }
  }

  &.greyOutline {
    border: 2px solid $grey;
    background-color: transparent;

    &:hover {
      border-color: $grey-deep;
    }
  }

  &.sm {
    font-size: 14px;
    padding: 0.5rem 1.25rem;
    font-weight: 600;
    border-radius: 1rem;
  }

  &.md {
    font-size: 1.125rem;
    padding: 0.75rem 2.5rem;
    font-weight: 600;
    border-radius: 1rem;
  }

  &.lg {
    font-weight: 700;
    font-size: 1.25rem;
    padding: 1.25rem 2rem;
    border-radius: 1.5rem;
  }

  &.fullWidth {
    width: 100%;
  }

  &.disabled {
    opacity: 0.3;
    cursor: default;
  }

  @media only screen and (max-width: 900px) {
    width: 100%;

    &.md {
      font-size: 14px;
    }

    &.lg {
      font-size: 18px;
    }
  }
}
