@import '../../../styles/variables';

.btn {
    padding: 0.8rem 1.8rem;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
    background: none;
    transition: background-color 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    &.primary {
        color: white;
        background-color: $main-color;

        &:hover {
            background-color: lighten($main-color, 4%);
        }

        .icon {
            path {
                stroke: white;
            }
        }
    }

    &.secondary {
    }

    .icon {
        &.isRTL {
            transform: rotate(180deg);
        }
    }

    @media only screen and (max-width: $tablet-breakpoint) {
        gap: 0.5rem;
        width: 100%;
    }

    @media only screen and (max-width: $phone-breakpoint) {
        gap: 0.5rem;
        padding: 0.8rem;
    }
}
