@import '../../../styles/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .iconContainer {
    margin-bottom: 0.5rem;

    svg {
      fill: black;
      height: 70px;
      width: 70px;
    }
  }

  .shareText {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin-bottom: 1rem;
  }

  .linkContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 10px;
    border-radius: 12px;
    background-color: $grey;
    font-size: 18px;

    p {
      font-weight: 500;
      text-align: left;
      white-space: nowrap;
      font-family: 'Poppins', sans-serif;

      &::selection,
      &::-moz-selection {
        color: white;
        background-color: $blue;
      }
    }

    button {
      font-weight: 600;
      text-transform: capitalize;
      color: $blue;
    }
  }

  @media only screen and (max-width: 500px) {
    .iconContainer {
      svg {
        width: 50px;
        height: 50px;
      }
    }

    .shareText {
      font-size: 16px;
    }

    .linkContainer {
      padding: 12px 8px;
      margin-bottom: 10px;
      font-size: 14px;
    }
  }
}
