@import '../../styles/variables.scss';

.container {
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);

  .content {
    padding-bottom: 3rem;
    padding-top: 4rem;
    max-width: 700px;
    margin: auto;

    &.rightToLeft {
      .topHeaders {
        text-align: right;
      }
    }

    .topHeaders {
      margin-bottom: 4rem;

      h1 {
        text-transform: capitalize;
        font-weight: 600;
        font-size: 40px;
      }

      .note {
        margin-top: 0.5rem;
        font-size: 14px;

        a {
          color: $blue;
        }
      }
    }

    form {
      .input {
        margin-bottom: 2rem;
      }

      .error {
        font-size: 16px;
        text-align: center;
        color: $red;
      }

      .button {
        text-transform: capitalize;
        margin: 1rem 0;
      }
    }

    .postPreview {
      z-index: 20;
      position: relative;

      .overlay {
        cursor: pointer;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: rgba($color: #000000, $alpha: 0.4);
      }

      .previewContainer {
        padding-top: 6rem;
        padding-bottom: 4rem;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        box-shadow: 0px -4px 22px 0px rgba(0, 0, 0, 0.1);
        background-color: $secondary-color;
        height: 90vh;
        width: 100vw;
        overflow-y: scroll;
        left: 0;
        position: fixed;
        animation: postPreviewAnimation 0.2s ease forwards;

        .topContainer {
          gap: 3rem;
          display: flex;
          justify-content: space-between;
          align-items: flex-start;

          @media only screen and (max-width: 1200px) {
            flex-direction: column;
            gap: 2rem;
          }

          @media only screen and (max-width: 1000px) {
            margin-top: 1rem;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 1100px) {
    .loginImageContainer {
      display: none;
    }

    .loginFormSection {
      width: 100%;
    }
  }

  @media only screen and (max-width: 900px) {
    .content {
      .topHeaders,
      &.rightToLeft .topHeaders {
        text-align: center;
        padding-top: 1rem;
      }

      .postPreview {
        .previewContainer {
          padding-top: 1rem;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
        }
      }
    }
  }

  @media only screen and (max-width: 800px) {
    .content {
      padding-top: 0;

      .topHeaders {
        h1 {
          font-size: 45px;
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    .content {
      .topHeaders {
        margin-bottom: 2rem;

        h1 {
          font-size: 35px;
        }

        .note {
          font-size: 12px;
        }
      }

      form {
        .error {
          font-size: 14px;
        }
      }
    }
  }

  @media only screen and (max-width: 400px) {
    .content {
      .topHeaders {
        h1 {
          font-size: 26px;
        }
        .note {
          font-size: 8px;
        }
      }

      form {
        .error {
          font-size: 12px;
        }
      }
    }
  }

  @media only screen and (max-width: 300px) {
    .content {
      .topHeaders {
        h1 {
          font-size: 24px;
        }
      }
    }
  }
}

@keyframes postPreviewAnimation {
  0% {
    top: 100vh;
  }

  100% {
    top: 10vh;
  }
}
