@import '../../../styles/variables.scss';

.container {
  height: 460px;
  width: 100%;
  max-width: 300px;
  border-radius: 14px;
  background-color: white;
  box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.03);
  text-transform: capitalize;

  &.rightToLeft {
    text-align: right;

    .bottomSection {
      .contactInfoItem {
        flex-direction: row-reverse;
      }
    }
  }

  .topSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    font-weight: 600;
    height: 50%;

    h1 {
      font-size: 24px;
      margin-top: 1rem;
    }

    p {
      font-size: 16px;
      color: $grey-deeper;
      cursor: pointer;
    }
  }

  .bottomSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50%;

    .contactInfoItem {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: 0.75rem;

      svg {
        fill: black;
        height: 15px;
        width: auto;
      }

      p {
        font-size: 18px;
        font-weight: 500;
      }
    }

    button {
      margin-top: 2rem;
      text-transform: capitalize;
      padding-left: 3rem;
      padding-right: 3rem;
      font-size: 16px;
    }
  }

  @media only screen and (max-width: 1000px) {
    height: 250px;
    max-width: unset;
    display: flex;

    .topSection {
      height: 100%;
      padding: 1rem 0;
      width: 40%;
      border-bottom: unset;
      border-right: 1px solid rgba(0, 0, 0, 0.03);
    }

    .bottomSection {
      align-items: flex-start;
      height: 100%;
      width: 60%;
      padding: 0 2.5rem;
    }
  }

  @media only screen and (max-width: 650px) {
    .topSection {
      h1 {
        font-size: 22px;
      }
    }

    .bottomSection {
      .contactInfoItem {
        p {
          font-size: 16px;
        }
      }
    }
  }

  @media only screen and (max-width: 550px) {
    .topSection {
      h1 {
        font-size: 20px;
      }
    }
  }

  @media only screen and (max-width: 500px) {
    flex-direction: column;
    height: 400px;

    .topSection {
      width: 100%;
      height: 50%;
      border-right: unset;
      border-bottom: 1px solid rgba(0, 0, 0, 0.03);

      h1 {
        font-size: 18px;
      }

      p {
        font-size: 14px;
      }
    }

    .bottomSection {
      padding: 0 2rem;
      width: 100%;
      align-items: center;
      height: 50%;

      .contactInfoItem {
        p {
          font-size: 14px;
        }
      }

      button {
        font-size: 14px;
      }
    }
  }
}
