.sidebar {
  @apply bg-white flex flex-col fixed top-0 left-0;
  height: 100vh;
  width: 15%;
  min-width: 240px;
  border-right: 1px solid #edf6f2;
  padding-top: 110px;
  overflow-y: scroll;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
  }

  .linksContainer {
    @apply flex relative h-full flex-col items-center;

    ul {
      @apply pl-12 pt-1;

      li {
        @apply my-4 font-medium;
        opacity: 0.7;

        &.active {
          @apply font-bold;
          opacity: 1;
        }
      }
    }
  }

  .link {
    @apply p-5 flex items-center gap-4 cursor-pointer my-1 font-medium;
    border-radius: 18px;
    color: #696969;
    font-size: 16px;
    min-width: 180px;

    .iconContainer {
      @apply relative flex items-center justify-center;
      width: 24px;

      svg {
        width: 100%;
        height: auto;
        max-height: 25px;
        fill: #696969;
      }

      .numberContainer {
        @apply absolute top-0 right-0 flex justify-center items-center;
        border-radius: 50%;
        background-color: #f23f3f;
        height: 25px;
        width: 25px;
        transform: translate(50%, -50%);
        border: 2px solid white;

        p {
          @apply text-white text-base;
          display: block;
        }
      }
    }

    &.active {
      @apply bg-primary;
      color: white;

      svg {
        fill: white;
      }
    }

    &.logout {
      @apply ml-10;
    }
  }

  &.collapse {
    @apply items-center;
    width: 5%;
    min-width: 70px;
    z-index: 2;

    .linksContainer {
      @apply m-0;
    }

    .link {
      @apply p-4 my-2;
      min-width: unset;

      p {
        @apply hidden;
      }

      &.logout {
        @apply ml-0;
      }
    }
  }

  @media only screen and (max-width: 900px) {
    @apply hidden;
  }
}

.activities {
  margin-left: 240px;
  padding-top: 100px;

  .salutation {
    @apply font-semibold capitalize;
    font-size: 38px;

    span {
      font-size: 42px;
    }
  }

  .totals {
    @apply w-full bg-white py-8;
    border-top: 1px solid rgba(229, 229, 229, 0.6);
    border-bottom: 1px solid rgba(229, 229, 229, 0.6);

    .container {
      @apply flex items-center p-0 h-full gap-5;

      .leftSide {
        @apply flex items-start gap-2;

        .postIcon {
          height: 100%;
          width: 110px;

          svg {
            height: auto;
            width: 100%;
          }
        }

        p {
          @apply font-medium;
          font-size: 20px;
        }

        h1 {
          @apply font-bold mt-1;
          font-size: 50px;
        }
      }

      .devider {
        height: 130px;
        width: 1.5px;
        border-radius: 1px;
        background-color: rgba(229, 229, 229, 0.5);
      }

      .rightSide {
        @apply flex flex-wrap justify-center;
        width: 65%;

        .totalNumOfAdsOfTypeContainer {
          @apply flex items-center p-4 gap-3;
          width: 50%;
          min-width: 300px;

          .iconContainer {
            width: 40px;
            svg {
              width: 100%;
              height: auto;
            }
          }

          p {
            @apply font-semibold;
            font-size: 24px;
          }
        }
      }
    }
  }

  .cardsContainer {
    @apply flex flex-wrap justify-between mt-10;

    .cardContainer {
      @apply flex justify-between items-center p-8 my-5 bg-white;
      width: 46%;
      min-height: 200px;
      min-width: 150px;
      box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.05);
      border-radius: 18px;
      animation: cardAnimation 0.3s ease forwards;

      .cardDetails {
        .iconContainer {
          width: 40px;

          svg {
            width: 100%;
            height: auto;
          }
        }

        h1 {
          @apply font-semibold capitalize mb-2;
          font-size: 24px;
        }

        p {
          font-size: 15px;
          color: #c8c8c8;
        }
      }
    }
  }

  @media only screen and (max-width: 1300px) {
    .salutation {
      font-size: 30px;

      span {
        font-size: 34px;
      }
    }

    .totals {
      .container {
        .leftSide {
          h1 {
            font-size: 40px;
          }
        }

        .rightSide {
          .totalNumOfAdsOfTypeContainer {
            .iconContainer {
              width: 30px;
            }

            p {
              font-size: 20px;
            }
          }
        }
      }
    }

    .cardsContainer {
      .cardContainer {
        @apply p-6;

        .cardDetails {
          .iconContainer {
            width: 30px;
          }

          h1 {
            font-size: 20px;
          }

          p {
            font-size: 14px;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 900px) {
    @apply m-0 px-0;
    padding-top: 50px;
    padding-bottom: 70px;

    .salutation {
      font-size: 28px;

      span {
        font-size: 30px;
      }
    }

    .totals {
      .container {
        @apply flex-col gap-8;

        .leftSide {
          @apply px-4;
          width: 90%;
        }

        .devider {
          @apply hidden;
        }

        .rightSide {
          @apply mx-auto;
          width: 90%;

          .totalNumOfAdsOfTypeContainer {
            .iconContainer {
              width: 35px;
            }
          }
        }
      }
    }

    .cardsContainer {
      @apply mt-4 items-stretch;

      .cardContainer {
        @apply flex-col-reverse justify-end my-0 mb-2;

        .cardDetails {
          .iconContainer {
            @apply hidden;
          }

          h1 {
            white-space: nowrap;
          }

          h1,
          p {
            @apply text-center;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    .salutation {
      font-size: 24px;

      span {
        font-size: 28px;
      }
    }

    .totals {
      @apply py-4;
      .container {
        @apply gap-6;

        .leftSide {
          @apply px-2 justify-center;

          .postIcon {
            width: 80px;
          }

          p {
            font-size: 18px;
          }

          h1 {
            @apply mt-0;
            font-size: 40px;
            line-height: 1;
          }
        }

        .rightSide {
          @apply w-full;

          .totalNumOfAdsOfTypeContainer {
            @apply p-2 gap-2;
            width: auto;
            min-width: unset;

            .iconContainer {
              width: 30px;
            }

            p {
              font-size: 20px;
            }
          }
        }
      }
    }

    .cardsContainer {
      .cardContainer {
        width: 49%;
        border-radius: 14px;

        .cardDetails {
          h1 {
            font-size: 18px;
          }
          p {
            font-size: 12px;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 400px) {
    .totals {
      .container {
        @apply gap-4;

        .leftSide {
          @apply px-2;

          .postIcon {
            width: 70px;
          }

          p {
            font-size: 16px;
          }

          h1 {
            font-size: 36px;
          }
        }

        .rightSide {
          @apply w-full;

          .totalNumOfAdsOfTypeContainer {
            @apply p-2 gap-1;

            .iconContainer {
              width: 22px;
            }

            p {
              font-size: 20px;
            }
          }
        }
      }
    }

    .cardsContainer {
      .cardContainer {
        .cardDetails {
          h1 {
            font-size: 16px;
          }
          p {
            font-size: 10px;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 300px) {
    .salutation {
      font-size: 20px;

      span {
        font-size: 24px;
      }
    }

    .totals {
      .container {
        @apply gap-3;

        .leftSide {
          .postIcon {
            width: 65px;
          }

          p {
            font-size: 14px;
          }

          h1 {
            font-size: 30px;
          }
        }

        .rightSide {
          .totalNumOfAdsOfTypeContainer {
            @apply p-1;

            .iconContainer {
              width: 20px;
            }

            p {
              font-size: 16px;
            }
          }
        }
      }
    }

    .cardsContainer {
      @apply gap-4;
      .cardContainer {
        @apply w-full;
      }
      //   .cardsContainer {
      //   .cardContainer {
      //     .cardDetails {
      //       h1 {
      //         font-size: 16px;
      //       }
      //       p {
      //         font-size: 10px;
      //       }
      //     }
      //   }
      // }
    }
  }
}

.myAds {
  margin-left: 240px;
  padding-top: 100px;

  .adsContainer {
    @apply flex flex-wrap;
    gap: 8.5%;
  }

  .noAds {
    @apply pt-20 font-semibold;
    font-size: 30px;

    svg {
      height: 50px;
    }
  }

  @media only screen and (max-width: 900px) {
    @apply m-0 px-0;
    padding-top: 50px;
    padding-bottom: 70px;

    .adsContainer {
      gap: 2%;
    }

    .noAds {
      font-size: 18px;

      svg {
        height: 30px;
      }
    }
  }
}

.profile {
  margin-left: 240px;
  padding-top: 100px;

  .container {
    @apply flex gap-12 items-start justify-center;
  }

  @media only screen and (max-width: 1200px) {
    .container {
      @apply flex-col gap-4;
    }
  }

  @media only screen and (max-width: 900px) {
    @apply m-0 px-0;
    padding-top: 50px;
    padding-bottom: 70px;
  }
}

.notifications {
  margin-left: 240px;
  padding-top: 100px;

  .container {
    @apply bg-white p-8 pt-4;
    max-width: 800px;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.03);
    border-radius: 20px;
    min-height: 80vh;
    margin-bottom: 40px;

    .header {
      @apply font-semibold py-2 pt-4 px-6;
      font-size: 32px;
    }

    .noNotifications {
      @apply flex flex-col items-center justify-center w-full font-medium pt-24;
      font-size: 26px;

      svg {
        height: 60px;
      }
    }

    .notification {
      @apply w-full flex p-4 px-6 cursor-pointer gap-4 my-2;
      min-height: 150px;
      border-radius: 10px;
      transition: all 0.2s ease;

      &:hover {
        background-color: #edf6f2;
      }

      .notificationPic {
        width: 20%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
        }
      }

      .notificationText {
        @apply relative font-medium;
        width: 80%;
        font-size: 20px;

        span {
          @apply font-semibold capitalize;
        }

        .messageContent {
          font-weight: 400;
          color: rgba(0, 0, 0, 0.7);
        }

        .createdAt {
          @apply absolute left-0;
          bottom: 20px;
          font-size: 16px;
          color: rgba(0, 0, 0, 0.4);
        }
      }
    }
  }

  @media only screen and (max-width: 900px) {
    @apply bg-white m-0 px-2;
    padding-top: 50px;
    padding-bottom: 70px;

    .container {
      @apply mb-0;
      box-shadow: none;
    }
  }

  @media only screen and (max-width: 650px) {
    .container {
      @apply p-2;

      .header {
        @apply p-2;
        font-size: 24px;
      }

      .noNotifications {
        font-size: 16px;

        svg {
          height: 30px;
        }
      }

      .notification {
        @apply p-2;
        min-height: 100px;

        .notificationPic {
          min-width: 60px;
        }

        .notificationText {
          font-size: 16px;

          .createdAt {
            font-size: 12px;
            bottom: 0;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 500px) {
    .container {
      @apply p-0;

      .header {
        @apply p-1 pt-3;
        font-size: 20px;
      }

      .noNotifications {
        font-size: 14px;

        svg {
          height: 25px;
        }
      }

      .notification {
        @apply p-1;

        .notificationPic {
          min-width: 50px;
          width: 25%;
        }

        .notificationText {
          font-size: 14px;
          width: 75%;

          .createdAt {
            font-size: 10px;
            bottom: 0;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 350px) {
    .container {
      .header {
        @apply pt-2;
        font-size: 18px;
      }

      .notification {
        min-height: 80px;

        .notificationPic {
          min-width: 50px;
        }

        .notificationText {
          font-size: 12px;

          .createdAt {
            font-size: 8px;
            position: static;
            margin-top: 10px;
          }
        }
      }
    }
  }
}

.discardButton {
  @apply ml-4;
  font-weight: 500 !important;
  background-color: #edf6f2 !important;
  color: black !important;

  &:hover {
    background-color: #d8f1e7 !important;
  }
}

.publicInfo {
  margin-left: 240px;
  padding-top: 100px;

  .label {
    @apply text-lg ml-2 font-medium;
  }

  .changeProfilePicContainer {
    @apply flex items-center mb-8 mt-4;

    .imgContainer {
      @apply mr-6;
      border: 1px solid #707070;
      width: 130px;
      height: 130px;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    button {
      @apply px-8;
    }
  }

  .socialLink {
    @apply flex items-start gap-6;

    label {
      display: none;
    }

    .socialIconContainer {
      @apply flex items-start justify-center mt-3;
      width: 52px;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .actionButtons {
    @apply w-full flex items-center justify-end gap-8;

    button {
      @apply mx-0;
    }
  }

  .errorMessage {
    @apply text-base text-center;
    color: #c40707;
  }

  @media only screen and (max-width: 900px) {
    @apply m-0 px-0;
    padding-top: 50px;
    padding-bottom: 70px;

    .label {
      font-size: 16px !important;
    }

    .changeProfilePicContainer {
      @apply mx-0 my-2 ml-2;

      .imgContainer {
        @apply mr-2;
        width: 50px;
        height: 50px;
      }

      button {
        @apply px-4;
        width: auto;
        font-size: 12px;
      }
    }

    p {
      font-size: 14px !important;
      margin-top: 0 !important;
    }

    .socialLink {
      @apply flex items-start gap-4;

      .socialIconContainer {
        @apply flex items-start justify-center mt-1;
        width: 44px;

        .icon {
          @apply w-full h-auto;
        }
      }
    }

    .errorMessage {
      font-size: 13px;
    }

    .actionButtons {
      @apply flex-col-reverse gap-2;

      button {
        @apply mx-0 my-0;
        width: 100% !important  ;
      }
    }
  }

  @media only screen and (max-width: 350px) {
    .changeProfilePicContainer {
      @apply mx-0 flex-col items-center;

      .imgContainer {
        @apply my-2;
      }
      button {
        @apply w-full my-1;
      }
    }
  }
}

.privateInfo {
  margin-left: 240px;
  padding-top: 100px;

  .actionButtons {
    @apply w-full flex items-center justify-end gap-8;

    button {
      @apply mx-0;
    }
  }

  @media only screen and (max-width: 900px) {
    @apply m-0;
    padding-top: 70px;
    padding-bottom: 70px;

    .actionButtons {
      @apply mt-4 flex-col-reverse gap-2;

      button {
        @apply mx-0 my-0;
        width: 100% !important;
      }
    }
  }
}

.settings {
  margin-left: 240px;
  padding-top: 100px;

  .settingItem {
    @apply flex items-center justify-between font-medium p-2 cursor-pointer capitalize;
    border-radius: 5px;
    transition: all 0.4s ease;
    font-size: 16px;

    &:hover {
      background-color: #edf6f2;
    }

    .title {
      @apply flex items-center gap-2;

      .iconContainer {
        width: 24px;

        svg {
          width: 100%;
          height: auto;
        }
      }
    }

    .arrowIconContainer {
      @apply flex justify-center;
      height: 15px;

      svg {
        height: 100%;
      }
    }
  }

  @media only screen and (max-width: 900px) {
    @apply m-0 px-0;
    padding-top: 50px;
    padding-bottom: 70px;

    .settingItem {
      @apply px-0;
    }
  }

  @media only screen and (max-width: 400px) {
    .settingItem {
      font-size: 14px;

      .title {
        .iconContainer {
          width: 20px;
        }
      }

      .arrowIconContainer {
        height: 10px;
      }
    }
  }
}

.preferences {
  margin-left: 240px;
  padding-top: 100px;

  p {
    font-size: 20px;
  }
  .displayModeSection {
    .changeModeButtonContainer {
      @apply flex items-center justify-between my-10;
      max-width: 400px;

      .iconAndText {
        @apply flex items-center gap-3;

        svg {
          width: 40px;
        }

        p {
          @apply font-semibold;
          font-size: 24px;
        }
      }
    }
  }

  .languageSection {
    .inputContainer {
      @apply my-4;
      max-width: 200px;

      p {
        @apply my-10 mx-0;
      }

      label {
        @apply hidden;
      }
    }
  }

  @media only screen and (max-width: 900px) {
    @apply m-0 px-0;
    padding-top: 50px;
    padding-bottom: 70px;

    p {
      font-size: 16px;
    }

    .displayModeSection {
      .changeModeButtonContainer {
        @apply my-4 px-0;

        .iconAndText {
          @apply gap-2;

          svg {
            width: 25px;
          }

          p {
            @apply font-semibold;
            font-size: 18px;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 400px) {
    p {
      font-size: 14px;
    }
  }
}

.messages {
  @apply flex;
  height: 100vh;
  padding-top: 70px;
  margin-left: 5%;

  .contactsSection {
    @apply px-4 overflow-hidden;
    width: 20%;
    min-width: 270px;
    height: 100%;
    background-color: #fefdfc;
    border-right: 1px solid rgba(0, 0, 0, 0.05);

    h1 {
      @apply text-primary mt-4 text-center font-semibold;
      font-size: 30px;
    }

    .searchInput {
      @apply w-full my-6 mt-4 px-5 py-3;
      font-size: 16px;
      border-radius: 15px;
      outline: none;
      background-color: #edf6f2;
    }

    .contactsContainer {
      border-top: 1px solid rgba(0, 0, 0, 0.05);
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: transparent;
      }

      &:hover {
        &::-webkit-scrollbar-thumb {
          background: #dceee6;

          &:hover {
            background: #c8ddd3;
          }
        }
      }

      .noContacts {
        @apply h-full w-full flex flex-col items-center justify-start font-medium text-center capitalize pt-10;
        font-size: 18px;

        svg {
          height: 60px;
          width: 40px;
        }
      }

      .contactContainer {
        @apply relative flex items-center gap-4 cursor-pointer p-2;
        transition: all 0.4s ease;
        border-radius: 10px;
        z-index: 1;

        &.contactConversationOpen {
          background-color: #edf6f2;
        }

        &:hover {
          background-color: #edf6f2;
        }

        .profilePicContainer {
          @apply relative;
          height: 70px;
          width: 70px;

          img {
            height: 100%;
            width: 100%;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
          }

          .onlineStatus {
            @apply absolute bottom-0 right-0;
          }
        }

        .contactName {
          @apply font-medium;
          font-size: 22px;
        }

        p {
          color: #c8c8c8;
        }

        &.hasUnreadMessages {
          p {
            @apply font-bold text-black;
          }

          &::after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0.5rem;
            width: 12px;
            height: 12px;
            background-color: #8289e9;
            border-radius: 50%;
          }
        }
      }
    }
  }

  .noConversation {
    @apply h-full w-full flex flex-col items-center justify-center gap-4 font-semibold relative bottom-10;
    font-size: 26px;

    svg {
      width: 60px;
      height: 60px;
    }
  }

  .conversationSection {
    width: 80%;
    height: 100%;

    .conversationHeader {
      @apply flex flex-col justify-center px-12 bg-white;
      height: 80px;
      width: 100%;
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.04);

      h1 {
        @apply font-semibold;
        font-size: 25px;
      }
    }

    .conversationContainer {
      @apply flex flex-col-reverse w-full px-12;
      overflow: scroll;

      .noMessages {
        @apply w-full flex items-end justify-center gap-2 font-medium capitalize;
        font-size: 22px;

        svg {
          width: 30px;
          height: 30px;
        }
      }

      .readText {
        @apply my-1 flex  justify-end;
        color: #c8c8c8;
        font-size: 14px;
      }

      .messageContainer {
        @apply flex w-full;

        .messageContent {
          @apply p-3 px-5 relative;
          max-width: 60%;
          margin: 1px 0;

          p:nth-child(1) {
            overflow-wrap: break-word;
          }

          .time {
            @apply absolute hidden font-semibold;
            top: 50%;
            transform: translateY(-50%);
            font-size: 14px;
            color: #c8c8c8;
            white-space: nowrap;
          }

          &:hover .time {
            display: block !important;
          }
        }

        &.authUserMessage {
          @apply justify-end;

          .messageContent {
            @apply text-white bg-primary;
            font-size: 18px;
            border-bottom-left-radius: 18px;
            border-top-left-radius: 18px;

            &.first {
              border-bottom-right-radius: 18px;
              border-top-right-radius: 5px;
            }

            &.middle {
              border-bottom-right-radius: 5px;
              border-top-right-radius: 5px;
            }

            &.last {
              border-bottom-right-radius: 5px;
              border-top-right-radius: 18px;
            }

            &.firstAndLast {
              border-bottom-right-radius: 18px;
              border-top-right-radius: 18px;
            }
          }
        }

        &.otherUserMessage {
          @apply justify-start items-end gap-3;

          .profilePic {
            @apply cursor-pointer;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
          }

          .messageContent {
            border: 1px solid #ff7937;
            font-size: 18px;
            border-bottom-right-radius: 18px;
            border-top-right-radius: 18px;

            &.first {
              border-bottom-left-radius: 18px;
              border-top-left-radius: 5px;
            }

            &.middle {
              left: 52px;
              border-bottom-left-radius: 5px;
              border-top-left-radius: 5px;
            }

            &.last {
              left: 52px;
              border-bottom-left-radius: 5px;
              border-top-left-radius: 18px;
            }

            &.firstAndLast {
              border-bottom-left-radius: 18px;
              border-top-left-radius: 18px;
            }

            &.typing {
              @apply my-2;
              height: 40px;
              width: 70px;
              border-radius: 20px;
            }
          }
        }
      }
    }

    .conversationFooter {
      @apply flex items-center justify-center gap-2 px-12 bg-secondary;

      input {
        @apply px-5 py-3;
        width: 100%;
        font-size: 18px;
        border-radius: 18px;
        outline: none;
        background-color: #edf6f2;
      }

      button {
        border-radius: 18px;
      }
    }
  }

  @media only screen and (max-width: 1100px) {
    .noConversation {
      font-size: 20px;
    }
  }

  @media only screen and (max-width: 900px) {
    @apply m-0;
    padding-top: 50px;
    padding-bottom: 60px;

    .contactsSection {
      @apply px-1;
      width: 100%;
      min-width: unset;

      h1 {
        @apply hidden;
      }

      .searchInput {
        @apply my-3 px-4;
        font-size: 14px;
        border-radius: 12px;
      }

      .contactsContainer {
        padding-bottom: 20px;

        &::-webkit-scrollbar {
          width: 4px;
        }

        .noContacts {
          font-size: 16px;
        }

        .contactContainer {
          @apply gap-2;

          .profilePicContainer {
            height: 60px;
            width: 60px;
          }

          .contactName {
            font-size: 18px;
          }
        }
      }
    }

    .noConversation {
      @apply hidden;
    }

    .conversationSection {
      @apply fixed;
      z-index: 2;
      top: 0;
      width: 100%;
      padding-top: 50px;
      animation: conversationOpen 0.3s ease forwards;

      .conversationHeader {
        @apply pl-6;
        height: 60px;

        h1 {
          font-size: 18px;
        }
      }

      .conversationContainer {
        @apply bg-secondary px-1;

        .noMessages {
          @apply gap-1;
          font-size: 16px;

          svg {
            width: 15px;
            height: 15px;
          }
        }

        .readText {
          font-size: 12px;
        }

        .messageContainer {
          &.authUserMessage,
          &.otherUserMessage {
            .messageContent {
              @apply p-3;
              font-size: 14px;

              .time {
                font-size: 12px;
              }
            }
          }

          &.otherUserMessage {
            @apply gap-1;

            .profilePic {
              height: 30px;
              width: 30px;
            }

            .messageContent {
              &.middle,
              &.last {
                left: 34px;
              }
            }
          }
        }
      }
      .conversationFooter {
        @apply px-1;

        input {
          border-radius: 15px;
          font-size: 14px;
        }

        button {
          @apply py-2 px-3 pl-2 mx-0 my-3;
          background-color: transparent;
          font-size: 14px;
          border-radius: 15px;
          width: auto;

          p {
            @apply hidden;
          }

          svg {
            path {
              fill: #ff7937;
            }
            width: 25px;
          }
        }
      }
    }
  }
}

@keyframes cardAnimation {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes conversationOpen {
  0% {
    left: 100%;
  }

  100% {
    left: 0%;
  }
}
