$text-color: #2d2d2d;

$grey-color: #8a8c8c;
$grey-color-4: #b1b6b8;

$error-color: #f34e4e;

$main-color: #2f856e;
$primary-color-1: #e4faf4;

$small-laptop-breakpoint: 1300px;
$tablet-breakpoint: 1050px;
$small-tablet-breakpoint: 700px;
$phone-breakpoint: 450px;
$small-phone-breakpoint: 350px;
