$primary-color: #ff7937;
$primary-color-hover: #fc6013;
$secondary-color: #fefdfc;
$grey: #edf6f2;
$grey-deep: #d8f1e7;
$grey-deeper: #c8c8c8;
$placeholder-grey: #00000033;
$blue: #0076ff;
$blue-deep: #1e31d6;
$brown: #707070;
$red: #c40707;

$phone-break-point: 900px;

$desktop-navbar-height: 70px;

$mobile-navbar-height: 50px;
$bottom-navigation-height: 60px;
