$text-color: #2d2d2d;

$grey-color: #8a8c8c;
$grey-color-1: #eff1f1;
$grey-color-4: #b1b6b8;
$grey-color-5: #9da2a4;
$grey-color-6: #727779;
$grey-color-7: #4f5152;

$blue-color-main: #2c7fb1;
$blue-color-1: #0d4667;
$blue-color-2: #2c7fb1;
$blue-color-3: #3399d6;
$blue-color-4: #59bdf9;
$blue-color-5: #a3e2fe;
$blue-color-6: #a3e2fe;

$error-color: #f34e4e;

$main-color: #2f856e;
$primary-color-1: #e4faf4;
$primary-color-2: #c1f0e3;

$large-laptop-breakpoint: 1400px;
$small-laptop-breakpoint: 1300px;
$tablet-breakpoint: 1050px;
$small-tablet-breakpoint: 700px;
$phone-breakpoint: 450px;
$small-phone-breakpoint: 350px;
