@import '../../styles/variables.scss';

.content {
  padding-top: $desktop-navbar-height;

  @media only screen and (max-width: $phone-break-point) {
    padding-top: $mobile-navbar-height;
    padding-bottom: $bottom-navigation-height;
  }
}
