@import '../../styles/variables.scss';

.main {
  padding-top: $desktop-navbar-height;
  display: flex;
  align-items: flex-start;

  &.rightToLeft {
    flex-direction: row-reverse;
  }

  .content {
    flex: 1;
    background-color: $secondary-color;
  }

  aside {
    position: sticky;
    top: $desktop-navbar-height;
    height: calc(100vh - $desktop-navbar-height);
    width: 20%;
  }

  @media only screen and (max-width: $phone-break-point) {
    padding-top: $mobile-navbar-height;
    padding-bottom: $bottom-navigation-height;

    aside {
      display: none;
    }
  }
}
