@import '../../../styles/variables.scss';

.sidebar {
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
  background-color: white;
  border-right: 1px solid $grey;
  height: max-content;
  height: 100%;
  width: 100%;
  min-width: 250px;
  max-width: 300px;
  overflow-y: scroll;
  scrollbar-width: none;
  padding-left: 30px;

  &::-webkit-scrollbar {
    width: 0px;
  }

  &.rightToLeft {
    text-align: right;
    border-right: none;
    border-left: 1px solid $grey;
    padding-right: 30px;
    padding-left: unset;

    section {
      .sidebarLink {
        flex-direction: row-reverse;
      }
    }
  }

  section {
    text-transform: capitalize;

    h4 {
      margin-top: 1rem;
      font-size: 18px;
      font-weight: 600;
    }

    .sidebarLink {
      cursor: pointer;
      font-size: 15px;
      margin: 0.5rem 0;
      display: flex;
      align-items: center;
      gap: 1rem;

      &:hover {
        text-decoration: underline;
      }

      .iconContainer {
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          height: auto;
          width: 100%;
        }
      }
    }
  }

  @media only screen and (max-width: 1300px) {
    section {
      h4 {
        font-size: 16px;
      }

      .sidebarLink {
        font-size: 14px;
      }
    }
  }
}
