@import '../../styles/variables';

.container {
    &.isRTL {
        flex-direction: row-reverse;
    }

    &.error {
        .inputBox {
            border-color: $error-color;
        }
    }

    .label {
        display: inline-block;
        font-size: 1.1rem;
        margin-bottom: 0.3rem;
        font-weight: 600;
        color: #1e1e1e;
    }

    .inputBox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 1rem 1rem;
        border-radius: 6px;
        border: 1px solid $grey-color-4;

        .children {
            flex: 1;
            width: 100%;
        }

        .iconContainer {
            width: auto;
            max-height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .error {
        color: $error-color;
        font-size: 0.8rem;
        margin-top: 0.5rem;
        padding: 0 0.6rem;
    }
}
