@import '../../../styles/variables.scss';

.container {
  height: 460px;
  width: 100%;
  max-width: 300px;
  border-radius: 14px;
  background-color: white;
  box-shadow: 2px 2px 16px 0px rgba(0, 0, 0, 0.03);
  text-transform: capitalize;

  &.rightToLeft {
    text-align: right;

    .bottomSection {
      .contactInfoItem {
        flex-direction: row-reverse;
      }
    }
  }

  .topSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    font-weight: 600;
    height: 50%;

    h1 {
      font-size: 24px;
      margin-top: 1rem;
    }

    p {
      font-size: 16px;
      color: $grey-deeper;
    }
  }

  .bottomSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50%;

    .contactInfoItem {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: 0.75rem;

      svg {
        fill: black;
        height: 15px;
        width: auto;
      }

      p {
        font-size: 18px;
        font-weight: 500;
      }
    }

    .button {
      margin-top: 2rem;
      text-transform: capitalize;
      padding-left: 3rem;
      padding-right: 3rem;
      font-size: 16px;
    }
  }

  .cardBottom {
    @apply flex flex-col justify-center pt-4;
    height: 50%;

    svg {
      fill: black;
      height: 15px;
      width: auto;
    }

    .contactInfo {
      @apply flex items-center justify-center gap-3;
      margin-bottom: 10px;
      p {
        font-size: 18px;
        font-weight: 500;
      }
    }

    .socialIcons {
      @apply flex items-center justify-center gap-3;
      margin: 10px 0;

      svg {
        height: 20px;
        fill: #c8c8c8;
      }
    }

    button {
      margin-left: 0;
      margin-right: 0;
    }
  }

  @media only screen and (max-width: 1300px) {
    .cardBottom {
      .contactInfo {
        p {
          font-size: 16px;
        }
      }
    }
  }

  @media only screen and (max-width: 1200px) {
    @apply w-full flex relative top-0;
    height: 250px;

    .cardHeader {
      @apply h-full py-4;
      width: 40%;
    }

    .divider {
      width: 1px;
      height: 100%;
    }

    .cardBottom {
      @apply h-full items-start;
      width: 60%;

      .contactInfo {
        @apply pl-10;
        p {
          font-size: 18px;
        }
      }

      .socialIcons {
        @apply pl-10;
      }
    }
  }

  @media only screen and (max-width: 650px) {
    .cardHeader {
      h1 {
        font-size: 22px;
      }
    }

    .cardBottom {
      .contactInfo {
        p {
          font-size: 16px;
        }
      }
    }
  }

  @media only screen and (max-width: 550px) {
    .cardHeader {
      h1 {
        font-size: 20px;
      }
    }
  }

  @media only screen and (max-width: 500px) {
    @apply flex-col;
    height: 350px;

    .cardHeader {
      @apply w-full;
      height: 50%;

      .imgContainer {
        margin-bottom: 10px;
        height: 80px;
        width: 80px;
      }

      h1 {
        font-size: 18px;
      }

      p {
        font-size: 14px;
      }
    }

    .divider {
      width: 100%;
      height: 1px;
    }

    .cardBottom {
      @apply w-full;
      align-items: unset;
      height: 50%;

      .contactInfo {
        @apply pl-0;
        p {
          font-size: 14px;
        }
      }

      .socialIcons {
        @apply pl-0 m-0;
      }

      button {
        @apply py-1;
        font-size: 14px;
      }
    }
  }
}
