@import '../../styles/variables.scss';

.signup {
  width: 100%;
  display: flex;
  min-height: calc(100vh - $desktop-navbar-height);

  &.rightToLeft {
    flex-direction: row-reverse;

    .signupImageSection {
      .imgContainer {
        right: 22.5%;
        left: unset;
        transform: translate(50%, -50%);
      }
    }

    .signupFormSection {
      text-align: right;
    }
  }

  .signupImageSection {
    display: flex;
    align-items: center;
    width: 45%;
    padding: 0 2.5rem;
    background-color: $secondary-color;

    .imgContainer {
      height: auto;
      width: 44vw;
      margin-bottom: 5rem;
      position: fixed;
      top: 50%;
      left: 22.5%;
      transform: translate(-50%, -50%);
    }
  }

  .signupFormSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    margin: 0;
    padding: 5%;
    padding-top: 4rem;

    .headTitle {
      margin-bottom: 2rem;
      h1 {
        text-transform: capitalize;
        font-weight: 600;
        font-size: 50px;
      }

      p {
        font-size: 18px;

        a {
          color: $blue;
        }
      }
    }

    .signupForm {
      .input {
        margin-bottom: 2rem;
      }

      .notArabicInput {
        margin-bottom: 2rem;

        input {
          font-family: 'Poppins', sans-serif;
        }
      }

      .signupButton {
        height: 52px;
        margin-top: 3rem;
        text-transform: capitalize;
      }

      .error {
        font-size: 16px;
        text-align: center;
        color: $red;
      }
    }
  }

  @media only screen and (max-width: 1100px) {
    .signupImageSection {
      display: none;
    }

    .signupFormSection {
      width: 100%;
    }
  }

  @media only screen and (max-width: $phone-break-point) {
    min-height: calc(100vh - $mobile-navbar-height - $bottom-navigation-height);
  }

  @media only screen and (max-width: 700px) {
    .signupFormSection {
      padding: 5%;

      .headTitle {
        text-align: center;

        h1 {
          font-size: 45px;
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    .signupFormSection {
      .headTitle {
        p {
          font-size: 16px;
        }
      }

      .signupForm {
        .signupButton {
          height: 48px;
          font-size: 16px;
          border-radius: 18px;
        }
      }
    }
  }

  @media only screen and (max-width: 500px) {
    .signupFormSection {
      justify-content: flex-start;

      .headTitle {
        h1 {
          font-size: 35px;
        }

        p {
          font-size: 14px;
        }
      }
    }
  }

  @media only screen and (max-width: 400px) {
    .signupFormSection {
      .headTitle {
        h1 {
          font-size: 32px;
        }
      }

      .signupForm {
        .signupButton {
          height: 50px;
        }

        .error {
          font-size: 12px;
        }
      }
    }
  }
}
