@import '../../styles/variables.scss';

.signup {
  width: 100%;
  display: flex;
  min-height: calc(100vh - 70px);

  &.rightToLeft {
    flex-direction: row-reverse;

    .signupImageSection {
      .imgContainer {
        right: 22.5%;
        left: unset;
        transform: translate(50%, -50%);
      }
    }
  }

  .signupImageSection {
    display: flex;
    align-items: center;
    width: 45%;
    padding: 0 2.5rem;
    background-color: $secondary-color;

    .imgContainer {
      height: auto;
      width: 44vw;
      margin-bottom: 5rem;
      position: fixed;
      top: 50%;
      left: 22.5%;
      transform: translate(-50%, -50%);
    }
  }

  .signupFormSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    margin: 0;
    padding: 5%;
    padding-top: 6rem;

    .typeCard {
      @apply flex bg-white border border-black p-4 px-0 pl-6 font-medium mb-6 items-center cursor-pointer;
      border-radius: 20px;
      font-size: 20px;
      width: 100%;
      min-width: 470px;
      max-width: 470px;

      &.selected {
        border-color: #c94ac6;
        background-color: #fff5ff;

        .circleInside {
          @apply absolute rounded-full;

          background-color: #c94ac6;
          top: 50%;
          right: 50%;
          transform: translate(44%, -43%);
          height: 8px;
          width: 8px;
        }
      }

      &:hover {
        border-color: #c94ac6;
        background-color: #fff5ff;
      }

      .radioButton {
        @apply relative rounded-full border border-black mr-3;
        height: 15px;
        width: 15px;
      }
    }

    h1 {
      @apply font-semibold mb-5;
      font-size: 50px;

      &.chooseType {
        font-size: 40px;
        max-width: 600px;
        margin-bottom: 40px;
      }
    }

    .submitBtnContainer {
      @apply flex w-full gap-2 justify-end;

      .backArrow {
        @apply flex items-center justify-end absolute p-2 hidden bg-white cursor-pointer;
        width: 70px;
        height: 50px;
        border-radius: 25px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        top: 80px;
        left: -30px;

        svg {
          width: 25px;
          height: auto;
        }
      }

      button {
        @apply mt-4 mx-0;
        border-radius: 20px;
      }
    }

    .errorMessage {
      font-size: 16px;
      text-align: center;
      color: $red;
    }

    p {
      @apply text-left;
      font-size: 18px;

      a {
        color: #cb7feb;
      }
    }
  }

  @media only screen and (max-width: 1100px) {
    .signupImageSection {
      display: none;
    }

    .signupFormSection {
      width: 100%;

      .typeCard {
        max-width: unset;
      }
    }
  }

  @media only screen and (max-width: $phone-break-point) {
    .signupFormSection {
      .submitBtnContainer {
        button {
          width: 100% !important;
        }

        & button:nth-child(2) {
          display: none;
        }

        .backArrow {
          display: flex;
        }
      }
    }
  }

  @media only screen and (max-width: 700px) {
    .signupFormSection {
      h1,
      h1.chooseType {
        text-align: center;
        margin-bottom: 2rem;
        font-size: 45px;
      }

      p {
        text-align: center;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    .signupFormSection {
      h1 {
        font-size: 35px;

        &.chooseType {
          font-size: 40px;
        }
      }

      button {
        height: 48px !important;
        font-size: 16px;
        border-radius: 18px;
      }

      p {
        font-size: 16px;
      }

      .errorMessage {
        font-size: 14px;
      }
    }
  }

  @media only screen and (max-width: 500px) {
    .signupFormSection {
      justify-content: flex-start;
      padding-top: 20%;

      .typeCard {
        @apply pl-3;
        min-width: unset;
        font-size: 18px;

        .radioButton {
          @apply mr-2;
          height: 12px;
          width: 12px;
        }
      }

      h1,
      h1.chooseType {
        font-size: 35px;
      }

      p {
        font-size: 14px;
      }
    }
  }

  @media only screen and (max-width: 400px) {
    .signupFormSection {
      h1 {
        font-size: 26px;

        &.chooseType {
          font-size: 26px;
        }
      }

      p {
        font-size: 14px;
      }

      .typeCard {
        @apply py-3;
        border-radius: 15px;
        font-size: 14px;
      }

      button {
        height: 50px !important;
      }

      .errorMessage {
        font-size: 12px;
      }
    }
  }

  @media only screen and (max-width: 300px) {
    .signupFormSection {
      h1 {
        font-size: 24px;

        &.chooseType {
          font-size: 22px;
        }
      }

      p {
        font-size: 12px;
      }

      .typeCard {
        @apply py-3;
        border-radius: 13px;
        font-size: 12px;
      }

      button {
        height: 50px !important;
      }

      .errorMessage {
        font-size: 12px;
      }
    }
  }
}
