@import '../../styles/variables';

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;

    .content {
        flex: 1;
        width: 60%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        > div {
            width: 100%;
            max-width: 32rem;
        }

        .title {
            font-size: 3rem;
            margin-bottom: 1rem;
        }

        .text {
            color: $grey-color;
        }

        .form {
            margin-top: 2rem;
            margin-bottom: 2rem;

            .input {
                margin-bottom: 2rem;
            }
        }

        .signup {
            color: $main-color;
        }
    }

    .banner {
        flex: 1;
        width: 40%;
        height: 100%;
    }

    @media only screen and (max-width: $small-laptop-breakpoint) {
        .content {
            width: 65%;
            padding-left: 4rem;
            padding-right: 4rem;

            .title {
                font-size: 2.7rem;
                margin-bottom: 0.8rem;
            }

            .form {
                margin-top: 1.8rem;
                margin-bottom: 1.8rem;

                .input {
                    margin-bottom: 1.8rem;
                }
            }
        }
    }

    @media only screen and (max-width: $tablet-breakpoint) {
        .content {
            width: 100%;

            .form {
                max-width: unset;
            }

            .notHaveAccount {
                text-align: center;
            }
        }

        .banner {
            display: none;
        }
    }

    @media only screen and (max-width: $small-tablet-breakpoint) {
        .content {
            padding-right: 1.5rem;
            padding-left: 1.5rem;
            padding-bottom: 4rem;

            .title {
                font-size: 2rem;
            }

            .form {
                .input {
                    margin-bottom: 1.5rem;
                }
            }
        }
    }

    @media only screen and (max-width: $phone-breakpoint) {
        .content {
            padding-right: 0.5rem;
            padding-left: 0.5rem;

            .title {
                font-size: 1.8rem;
            }

            .text {
                display: none;
            }
        }
    }
}
