@import '../../../styles/variables';

.input {
    width: 100%;
    border-width: 0;
    font-size: 18px;

    &:focus {
        outline: none;
        border-color: $grey-color;
    }

    &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $grey-color-4;
    }

    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $grey-color-4;
    }

    &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: $grey-color-4;
    }
}

.iconContainer {
    cursor: pointer;
    display: flex;
    align-items: center;
}
