.container {
  margin-bottom: 2rem;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;

    h3 {
      font-size: 35px;
    }

    .iconContainer {
      cursor: pointer;

      svg {
        height: 20px;
        width: auto;
      }
    }
  }

  .loaderContainer {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

    .loader {
      font-size: 12px;
    }
  }

  .errorMessageContainer {
    height: 300px;
  }

  .noPosts {
    height: 300px;
  }

  .postsListContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    row-gap: 1.5rem;
  }

  &.ar {
    .header {
      flex-direction: row-reverse;

      .iconContainer {
        transform: rotate(180deg);
      }
    }

    .postsListContainer {
      flex-direction: row-reverse;
    }
  }

  @media only screen and (max-width: 1000px) {
    .header {
      h3 {
        font-size: 30px;
      }
    }
  }

  @media only screen and (max-width: 800px) {
    .header {
      h3 {
        font-size: 27px;
      }
    }
  }

  @media only screen and (max-width: 700px) {
    .header {
      .iconContainer {
        svg {
          height: 15px;
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    .header {
      h3 {
        font-size: 22px;
      }
    }
  }

  @media only screen and (max-width: 400px) {
    .header {
      h3 {
        font-size: 16px;
      }
    }
  }
}
