.container {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -10px;

    .iconContainer {
      cursor: pointer;

      svg {
        height: 20px;
        width: auto;
      }
    }
  }

  .loaderContainer {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;

    .loader {
      font-size: 12px;
    }
  }

  .noPosts {
    height: 350px;
  }

  .postsListContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
  }

  &.reverseDirection {
    .header {
      flex-direction: row-reverse;

      .iconContainer {
        transform: rotate(180deg);
      }
    }

    .postsListContainer {
      flex-direction: row-reverse;
    }
  }

  @media only screen and (max-width: 700px) {
    .header {
      .iconContainer {
        svg {
          height: 15px;
        }
      }
    }
  }
}
